<div class="section" style="text-align:center; width:95%; background-color:white;">
  <% @metric = lang.total_metric %>
  <% @chart_id = "language_chart_#{@metric.id}" %>
  <div id="<%=@chart_id%>" style="min-width: 200px; height: 200px; margin: 0 auto"></div>

  <script>
    $(function () {
      $('#<%=@chart_id%>').highcharts({
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        title: {
          text: '<%= trla("Total Translations in {language}", :language => lang.native_name) %>'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function() {
                return this.point.name;
              }
            }
          }
        },
        series: [{
          type: 'pie',
          name: 'Progress',
          data: [
            {
              name: '<%=trla("Approved", "Approved translations") %>',
              y: <%=@metric.locked_key_count || 0%>,
              color: '#00FF00'
            },
            {
              name: '<%=trla("Pending", "Pending translations") %>',
              y: <%=@metric.pending_approval_count || 0%>,
              color: '#FFFF00'
            },
            {
              name: '<%=trla("Not Translated") %>',
              y: <%=@metric.not_translated_count || 0%>,
              color: '#FF0000'
            }
          ]
        }]
      });
    });
  </script>

  <div style="margin:5px; color:#666;">
	  <span style="white-space:nowrap;">
	    <span style="background-color:#00FF00;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp</span>
	    <%=tra("Approved:", "Header for approved phrases") %>
	    <%=link_to(language_metric.locked_key_count || 0, 
	              :controller => "/tr8n/app/phrases", :action => :index, :locale => lang.locale,
	              :phrase_type => :with, :phrase_status => :approved) %>
		</span>						
    &nbsp;&nbsp;		
		
    <span style="white-space:nowrap;">
	    <span style="background-color:#FFFF00;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp;</span>
	    <%=tra("Pending Approval:", "Header for phrases that are pending approval") %>
	    <%=link_to(language_metric.pending_approval_count || 0, 
	                  :controller => "/tr8n/app/phrases", :action => :index, :locale => lang.locale,
	                  :phrase_type => :with, :phrase_status => :pending) %>
    </span>           

    &nbsp;&nbsp;    
		
    <span style="white-space:nowrap;">
	    <span style="background-color:#FF0000;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp;</span> 
	    <%=tra("Not Translated:", "Header for phrases without translation") %>
	    <%=link_to(language_metric.not_translated_count || 0, 
	                  :controller => "/tr8n/app/phrases", :action => :index, :locale => lang.locale,
	                  :phrase_type => :without) %>
    </span>           

    <br><br>  		
    <%=tra("Total Phrases:", "Header for total phrase count") %>
    <%=link_to(language_metric.key_count || 0, 
                  :controller => "/tr8n/app/phrases", :action => :index, :locale => lang.locale) %>
		   
		
	</div>	
</div>
