<div class="section blue" style="font-size: 12px; margin-bottom:15px; color: #999;">
  <% if lang.total_metric.not_translated_count == 0 and lang.total_metric.key_count > 0 %>
    <%=tra("{language} is fully translated.", :language => lang.native_name)%>
  <% else %>
    <%=tra("{language} has [link: {count||phrase}] that need to be translated.",
        :language => lang.native_name,
        :count => lang.total_metric.not_translated_count,
        :link => lambda{|str| link_to(str, :controller => "/tr8n/app/phrases", :action => :index, :locale => lang.locale, :phrase_type => :without)}
     )%>
  <% end %>
</div>

<div style="font-size:14px; border-bottom:1px solid #ccc; margin-bottom:5px;">
  <div style="<%=tr8n_style_attribute_tag('float', 'right')%>">
    <%=tr8n_translator_rank_tag(@translator, translator_metric.rank)%>
  </div>
	
  <%=tr8n_toggler_tag("stats_content_#{lang.id}", "", true)%>
	<%=tra("Metrics") %>
</div>

<div id="stats_content_<%=lang.id%>">
  <table style="width:100%">
    <tr>
      <td style="width:50%; padding-top:3px; padding-right:3px; padding-bottom:10px;">
        <%=render :partial => "translator_metric", :locals => {:translator_metric => translator_metric, :lang => lang} %>
      </td>
      <td style="width:50%; padding-top:3px; padding-bottom:10px;">
        <%=render :partial => "language_metric", :locals => {:language_metric => lang.total_metric, :lang => lang} %>
      </td>
    </tr>
  </table>
</div>

