<div  class="section" style="text-align:center; width:95%; background-color:white;">
  <%
     @title = begin
       if self?
         lang ? trla("Your Translations in {language}", :language => lang.name) : trla("Your Translations in All languages")
       else
         lang ? trla("{user::pos} Translations in {language}", :user => tr8n_current_translator, :language => lang.name) : trla("{user::pos} Translations in All Languages", :user => tr8n_current_translator)
       end
     end
  %>

  <% @metric = lang ? @translator.metric_for(lang) : @translator.total_metric %>
  <% @chart_id = "translator_chart_#{@metric.id}" %>
  <div id="<%=@chart_id%>" style="min-width: 200px; height: 200px; margin: 0 auto"></div>

  <script>
    $(function () {
      $('#<%=@chart_id%>').highcharts({
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        title: {
          text: '<%= @title %>'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function() {
                return this.point.name;
              }
            }
          }
        },
        series: [{
          type: 'pie',
          name: 'Progress',
          data: [
            {
              name: '<%=trla("Accepted", "Accepted translations") %>',
              y: <%=@metric.accepted_translations||0%>,
              color: '#00FF00'
            },
            {
              name: '<%=trla("Rejected", "Rejected translations") %>',
              y: <%=@metric.rejected_translations||0%>,
              color: '#FF0000'
            },
            {
              name: '<%=trla("Pending", "Pending translations") %>',
              y: <%=@metric.pending_vote_translations||0%>,
              color: '#FFFF00'
            }
          ]
        }]
      });
    });
  </script>

	<div style="margin:5px; color:#666;"> 
    <span style="white-space:nowrap;">
      <span style="background-color:#00FF00;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp</span>
	 	  <%=tra("Accepted:", "Accepted translations") %>
	    <% if lang %>
	      <%=link_to(translator_metric.accepted_translations || 0, 
	                :controller => "/tr8n/app/translations", :action => :index, :locale => lang.locale,
	                :submitted_by => @translator.id, :with_status => :accepted) %>
	    <% else %>
	      <%= translator_metric.accepted_translations || 0 %>         
	    <% end %>
		</span>	  
		         
    &nbsp;&nbsp;
		
    <span style="white-space:nowrap;">
      <span style="background-color:#FFFF00;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp</span>
			<%=tra("Pending:", "Pending translations") %>
	    <% if lang %>
	      <%=link_to(translator_metric.pending_vote_translations || 0, 
	                :controller => "/tr8n/app/translations", :action => :index, :locale => lang.locale,
	                :submitted_by => @translator.id, :with_status => :pending) %>
	    <% else %>
	      <%= translator_metric.pending_vote_translations || 0 %>         
	    <% end %>
		</span>
			           
    &nbsp;&nbsp;
		
    <span style="white-space:nowrap;">
      <span style="background-color:#FF0000;display:inline;white-space:nowrap;">&nbsp;&nbsp;&nbsp</span>
      <%=tra("Rejected:", "Rejected translations") %>
	    <% if lang %>
	      <%=link_to(translator_metric.rejected_translations || 0, 
	                :controller => "/tr8n/app/translations", :action => :index, :locale => lang.locale,
	                :submitted_by => @translator.id, :with_status => :rejected) %>
	    <% else %>
	      <%= translator_metric.rejected_translations || 0 %>         
	    <% end %>
		</span>	           

    <br><br>      
		
	  <%=tra("Total Translations:") %>
    <% if lang %>
      <%=link_to(translator_metric.total_translations || 0, 
                :controller => "/tr8n/app/translations", :action => :index, :locale => lang.locale,
                :submitted_by => @translator.id) %>
    <% else %>
      <%= translator_metric.total_translations || 0 %>         
    <% end %>           
  </div> 

</div>