<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/translator/common/header" %>

  <div class="tr8n tr8n_container" <%=tr8n_dir_attribute_tag%> >

    <div class="section_title">
      <% if self? %>
        <%=tra("Your Dashboard") %>
      <% else %>
        <%=tra("{user::pos} Dashboard", nil, :user => [@translator, :name]) %>
      <% end %>
    </div>

    <div class="section" style="background-color:#FDFFF0;">
        <table style="width:100%">
          <tr>
            <td style="width:50%; padding-top:3px; vertical-align: top">
              <table>
                <tr>
                  <td style="width:150px"><%=tra("{user|Joined on}:", :user => @translator) %></td>
                  <td><%=tr8n_page_translator.created_at.trl%></td>
                </tr>
                <tr>
                  <td><%=tra("Total translations:") %></td>
                  <td><%=tr8n_page_translator.total_metric.total_translations%></td>
                </tr>
                <tr>
                  <td><%=tra("Total votes:") %></td>
                  <td>
                    <span style="color:green"><%=tr8n_page_translator.total_metric.positive_votes || 0 %></span>/<span style="color:red"><%=@translator.total_metric.negative_votes || 0 %></span>
                  </td>
                </tr>
                <tr>
                  <td><%=tra("Forum messages:") %></td>
                  <td>
                     <%=tr8n_page_translator.forum_messages.count %>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top;"><%=tra("Jump To Language:") %></td>
                  <td style="vertical-align:top;padding-right:10px;">
                    <% langs = [] %>
                    <% @languages.each do |lu|
                        lang = lu.language
                        next if lang.nil? or lang.default?
                        langs << link_to(lang.english_name, params.merge(:anchor => lang.locale))
                       end %>
                    <%= langs.join(" | ").html_safe %>
                  </td>
                </tr>
              </table>

              <div style="padding-top:30px;">
                <% unless self? %>
                  <% if Tr8n::TranslatorFollowing.following_for(tr8n_current_translator, @translator) %>
                    <%= link_to(tra("Stop Following {user::pos} Activity", :user => @translator), {:controller => "/tr8n/translator/dashboard", :action => :unfollow, :translator_id => @translator.id}, {:class=>"btn btn-primary"}) %>
                  <% else %>
                     <%= link_to(tra("Follow {user::pos} Activity", :user => @translator), {:controller => "/tr8n/translator/dashboard", :action => :follow, :translator_id => @translator.id}, {:class=>"btn btn-primary"}) %>
                  <% end %>
                <% end %>
              </div>
            </td>

            <td style="width:50%;padding-top:3px;padding-right:3px;">
              <%=render :partial => "translator_metric", :locals => {:translator_metric => @translator.total_metric, :lang => nil} %>
            </td>
          </tr>
        </table>
    </div>

    <% @languages.each do |lang_user| %>
      <% lang = lang_user.language %>
      <% next if lang.nil? or lang.default? %>
      <% translator_metric = @translator.metric_for(lang) %>

      <div class="section_title">
        <div style="<%=tr8n_style_attribute_tag('float', 'right')%>; font-size:12px; font-weight:normal;">
          <%
            links = []
            links << link_to(tra("select", "Language action link"), :locale => lang.locale)
            links << link_to(tra("site map", "Language action link"), "/tr8n/app/phrases/map?locale=#{lang.locale}")
            links << link_to(tra("phrases", "Language action link"), "/tr8n/app/phrases?locale=#{lang.locale}")
            links << link_to(tra("translations", "Language action link"), "/tr8n/app/translations?locale=#{lang.locale}")
            links << link_to(tra("awards", "Language action link"), "/tr8n/app/awards?locale=#{lang.locale}")
            links << link_to(tra("discussions", "Language action link"), "/tr8n/app/forum?locale=#{lang.locale}")

            if @translator == tr8n_current_translator
              if @translator.manager?
               links << link_to(tra("manage", "Language action link"), "/tr8n/language/settings/index?locale=#{lang.locale}")
              end
            end
          %>
          <%= links.join(" | ").html_safe %>
        </div>

        <%=tr8n_toggler_tag("lang_content_#{lang.id}")%>
        <%=image_tag(lang.flag_url, :title=>lang.native_name) if Tr8n::Config.enable_language_flags? %>&nbsp;

        <span dir="ltr">
          <a name="<%=lang.locale%>" style="text-decoration:none;color:black;"><%=lang.native_name%></a>
        </span>
      </div>

      <div id="lang_content_<%=lang.id%>" class="section grey">
        <%=render :partial=>"metrics", :locals => {:lang => lang, :translator_metric => translator_metric}%>
      </div>
    <% end %>

  </div>

  <%= render :partial => "/tr8n/translator/common/footer" %>

<% end %>

<%=javascript_include_tag("tr8n/vendor/jquery/highcharts.js") %>
<%=javascript_include_tag("tr8n/vendor/jquery/exporting.js") %>
