<% sorted_words = @definitions.keys.sort %>
<% word_sources = {} %>

<div class="row">

  <div class="span4 index">
    <% sorted_words.each_with_index do |word, index| %>
      <div class="word"><%=word %></div>
      <div class="sources" style="padding-left:10px; font-size:10px;">
        <% @definitions[word].each_with_index do |definition, def_index| %>
          <% word_sources[word] ||= [] %>
          <% next if word_sources[word].include?(definition[:source]) %>
          <% word_sources[word] << definition[:source] %>
          <div><%=link_to_function(definition[:source], "showSource('dictionary_#{index}_#{def_index}')")%></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="span7 definitions">
    <% sorted_words.each_with_index do |word, index| %>
      <% @definitions[word].each_with_index do |definition, def_index| %>
        <div id="dictionary_<%="#{index}_#{def_index}"%>" style="<%='display:none' unless index == 0 and def_index == 0 %>">
          <div class="title"><%=definition[:source]%></div>
          <div><pre><%=definition[:definition]%></pre></div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>


<style>
  .index {
    font-size: 15px;
  }
  .definitions {
    font-size: 11px;
  }

  .definitions .title {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .definitions pre {
    background-color:transparent;
    border: 0px;
    font-size: 12px;
  }
</style>



