<div id="permutations_module" class="section grey" style="display:none">
	<%= form_for(@translation, :as => :translation, :url => {:controller => "/tr8n/app/translations", :action => :permutate}, :html => {:id => 'permutation_form', :method => :post}) do |f| %>
	    <%= hidden_field_tag(:translation_key_id, @translation_key.id) %>
	    <%= hidden_field_tag(:source_url, @source_url) %>
	    <%= hidden_field_tag(:translation_has_dependencies, "true") %>
	
      <div class="section_title">
		    <%=trla("Context Rules")%>
		  </div>
	
      <div style="color:grey; font-size:12px; padding-top:5px; padding-bottom:10px;">
       <%=trla("Some translations depend on the gender of the viewing user or the token values.")%>
       <%=trla("Select all of the rules types that this translation depends on.")%>
       <%=trla("For example, if the translation depends on the gender of the viewing user, select the gender context for the viewing_user token.")%>
      </div>

      <div class="section blue" style="" >
        <% if tr8n_current_language.contexts.size > 0 %>
          <% @dependant_tokens = @translation_key.language_context_dependant_tokens %>
          <% td_width = (95/(tr8n_current_language.contexts.size))  %>

          <table style="width:100%;">
            <tr>
              <td style="padding-left:5px; width:100px; font-size:10px; text-align:left; color:#ccc; font-weight:bold;">
                <%=tra("tokens")%>
              </td>
              <% tr8n_current_language.contexts.each do |context| %>
                <td style="font-size:10px; text-align:center; color:#ccc; font-weight:bold; width:<%=td_width%>%">
                  <%=tra(context.keyword, "Language context keyword") %>
                </td>
              <% end %>
            </tr>

            <% @dependant_tokens.each do |token| %>
              <tr>
                <td style="font-size:10px; font-weight:bold; padding:5px; vertical-align:middle; ">
                  <%=token.short_name %>
                </td>
                <% tr8n_current_language.contexts.each do |context| %>
                  <td style="text-align:center; font-size:10px; color: grey; border: 1px dotted #ccc; padding:5px; vertical-align:middle; background:white;">
                    <% if token.context_for_language(tr8n_current_language, :silent => true) == context %>
                      <%=check_box_tag("token_contexts[#{token.short_name}][#{context.keyword}]", "true", false, :style => "width:20px;")%>
                    <% else %>
                      n/a
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>

          </table>
        <% else %>
          <%=tra("The settings does not have any rules defined and no rules permutations can be generated.") %>
          <%=tra("Please contact the settings manager to define settings rules.")%>
        <% end %>
      </div>

	<% end %>

  <div id="buttons_container" style="padding-top:15px;padding-bottom:5px;text-align:center">
	    <button type="submit" class="btn btn-primary" onClick="Tr8n.Utils.Effects.submit('permutation_form'); return false;">
	        <%=trla("Generate")%>
	    </button>
       <%=trla("or") %> <%= link_to_function(trla("Cancel"), "viewTranslations()") %>
	</div>
</div>