<div id="translations_module">
	<div class="section_title">
		<% unless @translation_key.locked? %>
	    <div class="tr8n_float_right" style="font-size: 12px; font-weight:normal;">
	      <%= link_to_function(tra("+ add translation"), "addTranslation()") %>
	    </div> 
    <% end %>
				
    <div  class="tr8n_text_align_left">
      <%=tr8n_toggler_tag("translations_content")%>
  	  <%=tra("Translations") %>
  		<a name="translations">&nbsp;</a>
    </div>
	</div>

  <div class=" tr8n_text_align_left" id="translations_content">
    <%= render :partial => "/tr8n/app/translations/search_form" %>

    <% if @grouping.empty? %>
      <%= render :partial => "/tr8n/app/translations/list", :locals => {:language => tr8n_current_language, :translations => @translations, :mode => :view} %>
    <% else %>
      <% @grouping.keys.sort.each_with_index do |key, index| %>
        <div class="section_title">
          <% if params[:grouped_by] == "context" %>
            <div style="float:right; font-size: 12px; font-weight:normal;">
              <%= link_to_function(trla("+ add translation"), "addTranslation()") %>
            </div>
          <% end %>

          <%=tr8n_toggler_tag("translations_section_#{index}", "", true)%>
          <span style="font-size:14px;">
            <%=key.html_safe %>
          </span>
        </div>
        <div id="translations_section_<%=index%>">
          <%= render :partial => "/tr8n/app/translations/list", :locals => {:language => tr8n_current_language, :translations => @grouping[key], :mode => :view} %>
        </div>
      <% end %>
    <% end %>

    <% unless translation_key.locked? %>
      <div class="tr8n_text_align_left muted" style="font-size: 12px; padding-top:15px; padding-bottom:15px;">
        <%= tra("You can only edit or delete translations submitted by you.") %>

        <%= tra("If you don't like any of these translations, [link: add your own translation].", :link => lambda{|str| link_to_function(str, "addTranslation()")}) %>

        <% if translation_key.permutable? %>
            <%=tra("If this translation depends on a {token} or a gender of the viewing user, then [link: generate context rules for this phrase].", nil,
                  :token => "{token}", :link => lambda{|str| link_to_function(str, "addContextRules()")}) %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>