<div id="translation_module" class="section grey" style="display:none">
	<div class="tr8n_text_align_left" style="font-size:17px;padding-bottom:10px;font-weight:bold;">
	  <%=tra("Translation for {language} Language", :language => tr8n_current_language.native_name)%>
	</div>
	
	<%= form_for(@translation, :as => :translation, :url => {:controller => "/tr8n/app/translations", :action => :submit}, :html => {:id => 'translation_form', :method => :post}) do |f| %>
    <%= hidden_field_tag(:id, translation_key.id) %>
    <%= hidden_field_tag(:source_id, params[:source_id]) %>
    <%= hidden_field_tag(:component_id, params[:component_id]) %>
		<%= hidden_field_tag(:translation_id, @translation.id) %>
		<%= hidden_field_tag(:new_translation, (@translation.id == nil).to_s ) %>
		<%= hidden_field_tag(:translation_has_dependencies, "false") %>

    <div style="padding-bottom:10px;">
      <%= f.text_area(:label, :id => "tr8n_translation_label_#{translation_key.id}", :style=>"height:80px;background-color:white;padding:3px;resize:vertical;", :class => "form-control input-block-level keyboardInput" ) %>
    </div>

    <%= render(:partial => "translation_tokens") %>

    <%= render(:partial => "translation_suggestions") %>

    <%= render(:partial => "translation_glossary") %>

    <%= render(:partial => "translation_dictionary") %>

    <div id="buttons_container" style="padding-top:5px;padding-bottom:5px;text-align:center">
      <button type="button" class="btn btn-primary" onClick="submitTranslation(); return false;">
        <%=tra("Translate")%>
      </button>
      <%=tra("or")%>
      <%= link_to_function(tra("Cancel"), "viewTranslations()") %>
    </div>
	
	<% end %>
</div>

<script>
	function submitTranslation() {
		if (Tr8n.value("tr8n_translation_label_<%=translation_key.id%>") == "") {
			 alert("<%=trla('Translation must be provided.')%>");
			 return;
	  }
    Tr8n.Utils.Effects.submit('translation_form');
	}
	
	function downloadDictionaryDefinitions() {
		Tr8n.Utils.Effects.hide('tr8n_dictionary_opener'); 
		Tr8n.Utils.Effects.show('tr8n_dictionary_spinner'); 
    Tr8n.Utils.update('tr8n_dictionary', '/tr8n/app/phrases/dictionary', {
      parameters: {id:"<%=translation_key.id%>"},
      onComplete: function(response) {
        Tr8n.Utils.Effects.hide('tr8n_dictionary_spinner');
				Tr8n.Utils.Effects.appear('tr8n_dictionary');
        Tr8n.Utils.Effects.scrollTo('buttons_container');
        Tr8n.Utils.Effects.show('tr8n_dictionary_hider');
      }
    });
	}
</script>