<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="tr8n tr8n_container">

    <%= render :partial => "breadcrumb" %>

    <div class="section blue">
      <%= form_tag({:action => :index}, {:method => :get}) do %>
        <%=hidden_field_tag(:source_id, params[:source_id]) %>
        <%=hidden_field_tag(:component_id, params[:component_id]) %>

        <div class="tr8n_float_right">
          <button type="submit" class="btn btn-primary">
              <%=tra("Search")%>
          </button>
        </div>

        <div class="tr8n_text_align_left">
          <%=text_field_tag(:search, params[:search], {:style => "width:90%;font-size:12px;height:20px;background: white url(/assets/tr8n/icn_search.png) right no-repeat; padding-right: 10px; border-radius:10px;", :placeholder => trla("Search phrases")})%>
        </div>

        <div style="margin-top:10px; padding:3px; font-size:11px; color:#666;">
          <div style="float:right">
            <%=link_to(tra("Add New Phrase"), {:controller => "/tr8n/app/wizards", :action => :translation_key, :source_id => params[:source_id]}, {"class" => "btn", "data-toggle" => "dynamic_wizard"})%>
          </div>
            <%=select_tag(:phrase_type, tr8n_options_for_select(Tr8n::TranslationKey.filter_phrase_type_options, params[:phrase_type]))%>
            <%=select_tag(:phrase_lock, tr8n_options_for_select(Tr8n::TranslationKey.filter_phrase_lock_options, params[:phrase_lock]))%>
        </div>
      <% end %>
    </div>

    <div class="section">
      <%= tr8n_paginator_tag(@translation_keys, :subject => 'phrase') if @translation_keys.any? %>
      <%= form_tag({:controller => "/tr8n/app/translations", :action => :submit}, {:id => 'translation_form', :method => :post}) do |f| %>

        <table style="width:100%">
          <tr style="border-bottom:2px solid #ccc;">
             <td style="width:15px;background: #f9f8f7;">
               <%=check_box_tag("all_keys", 'yes', false, :style=>"vertical-align:top;margin-right:5px;", :onClick => "checkAll(this)") %>
             </td>
             <td class="tr8n_text_align_left" style="width:40%;padding:5px; background: #f9f8f7; font-size:16px; color:grey;">
               <%=tra("Original Phrase")%>
             </td>
             <td class="tr8n_text_align_left" style="width:60%;padding:5px; font-size:16px; color:grey;" colspan="2">
               <%=tra("Top {language} Translations", nil, :language => tr8n_current_language.native_name) %>
             </td>
          </tr>
          <% @translation_keys.each_with_index do |tk, index| %>
            <% color = tk.locked? ? "#ECFFEF" : "#FDFDDF" %>
            <tr class="tkey_row" style="border-bottom:1px dotted #ccc;">
              <td class="tr8n_text_align_left" style="vertical-align:top;padding-top:5px; background: <%=color%>;">
                <%=check_box_tag("key_check_#{index}", tk.id, false, :style=>"vertical-align:top;", :onClick => "verifyCheck(this)") %>
              </td>
              <td class="tr8n_text_align_left" style="font-size:12px; vertical-align:top;padding:5px; background: <%=color%>;">
                <% if tk.locked? %>
                  <div class="tr8n_float_right"><%=image_tag("tr8n/lock.png", :style=>"width:12px; padding:5px;", :title => trla("This phrase is locked"))%></div>
                <% end %>
                <span dir='ltr'>
                  <%=link_to(tk.default_decoration(tr8n_current_language, :application => selected_application), :action => :view, :id => tk.id, :source_id => params[:source_id], :component_id => params[:component_id])%>
                </span>
                <div class="tr8n_text_align_left" dir='ltr' style="color:grey;font-size:10px;padding-top:3px;"><%=tk.description%></div>
              </td>

              <td style="padding:5px; vertical-align:top">
                <div id="tr8n_translator_votes_for_<%=tk.key%>" class="tr8n_text_align_left">
                  <% if tk.in_current_language? %>
                    <%= tra("This phrase needs no translations for {language}.", :language => tr8n_current_language.native_name) %>
                  <% else %>
                    <% translations = tk.translations_for(tr8n_current_language) %>
                    <% if translations.empty? %>
                      <%= tra("There are no translations for this phrase.") %>
                      <% unless tk.locked? %>
                        <%= tra("Be the first one to [link: translate it].", :link => lambda{|str| link_to(str, :controller => "/tr8n/app/phrases", :action => :view, :id => tk.id, :source_id => params[:source_id], :component_id => params[:component_id])}  ) %>
                      <% end %>
                    <% else %>
                      <%= render :partial => "/tr8n/common/translation_votes", :locals => {:translation_key => tk, :translations => translations[0..4], :source_id => params[:source_id], :component_id => params[:component_id]} %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>

        <% if @translation_keys.empty? %>
            <div class="tr8n_text_align_left" style="padding-top:10px; font-size:12px;"><%=trla("No phrases found")%></div>
        <% else %>

          <div id="translation_key_toolbar" style="padding-top:25px; padding-bottom: 10px;">
            <div style="float:right">
              <%=link_to_function(tra("Lock"), "lockKeys()", {"class" => "btn btn-success", "data-toggle" => "dynamic_modal"})%>
              <%=link_to_function(tra("Unlock"), "unlockKeys()", {"class" => "btn btn-warning", "data-toggle" => "dynamic_modal"})%>
              <%=link_to_function(tra("Remove"), "removeKeys()", {"class" => "btn btn-danger", "data-toggle" => "dynamic_modal"})%>
            </div>
            <%=link_to_function(tra("Add To Source..."), "addSelectedKeysToSource()", {"class" => "btn", "data-toggle" => "dynamic_modal"})%>
          </div>

        <% end %>

      <% end %>
    </div>
  </div>
	<%= render :partial => "/tr8n/app/common/footer" %>
	
	<script>
	  function toggleFilterOptions() {
	    if (Tr8n.element("phrase_type").value == "with") {
	      Tr8n.Utils.Effects.show("extended_filter_options");
	    } else {
	      Tr8n.Utils.Effects.hide("extended_filter_options");
	    }
	  }

    function verifyCheck(check) {
      if (!check.checked) {
        var check_all = document.getElementById("all_keys");
        check_all.checked = false;
      }
    }

    function checkAll(trigger) {
      var index = 0;
      var check = document.getElementById("key_check_" + index);
      while (check) {
        check.checked = trigger.checked;
        check = document.getElementById("key_check_" + (++index));
      }
    }

    function getSelectedKeyIds() {
      var i=0;
      var checkbox = Tr8n.element('key_check_' + i);
      var keys = [];
      while (checkbox) {
        if (checkbox.checked) {
          keys.push(checkbox.value);
        }
        checkbox = Tr8n.element('key_check_' + (++i));
      }
      return keys;
    }

    function lockKeys() {
      if (!confirm("<%=trla("Are you sure you want to lock all selected phrases?") %>")) return;
      location.href = "/tr8n/app/phrases/lock?keys=" + getSelectedKeyIds();
    }

    function unlockKeys() {
      if (!confirm("<%=trla("Are you sure you want to unlock all selected phrases?") %>")) return;
      location.href = "/tr8n/app/phrases/unlock?keys=" + getSelectedKeyIds();
    }

    function removeKeys() {
      if (!confirm("<%=trla("Are you sure you want to remove all selected phrases?") %>")) return;
      location.href = "/tr8n/app/phrases/remove?keys=" + getSelectedKeyIds();
    }

    function addSelectedKeysToSource() {
      var keys = getSelectedKeyIds();
      if (keys.length == 0) {
        alert('<%=trla("At least one phrase must be selected.") %>');
        return;
      }
      $.get('/tr8n/app/phrases/add_to_source_modal?keys=' + keys, function(data) {
        $('<div class="modal hide fade">' + data + '</div>').modal();
      }).success(function() {
      });

    }

  </script>
<% end %>