<style>
  .title {
    padding: 5px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
  }
  .buttons {
    text-align: center;
  }
  .content {
    border: 1px dotted brown;
    background-color: #f8f7f6;
    padding-bottom: 10px;
  }
  .content td {
    vertical-align: top;
    padding: 5px;
  }
</style>

<div class="inner">
  <div class="hd" style="background-color:white;font-size:12px;">
    <div style="<%=tr8n_style_attribute_tag('float', 'right')%>;">
      <%=link_to_function(image_tag("tr8n/close.gif", :style => "border:0px; padding:5px;", :alt=>trla("Close")), "hideLightbox()") %>
    </div>
    <div style="padding-top:3px">
      <%=tra("Translation Key Sources") %>
    </div>
  </div>

  <div class="bd" style="">
    <%= render :partial => '/tr8n/app/phrases/header' %>

    <div class="section_title">
        <%=tra("Sources")%>
    </div>

    <div class="section blue" style="padding:10px; font-size:11px;">
      <div style="max-height:350px; overflow:auto;">
        <ul>
          <% translation_key.sources.each do |source| %>
              <li style="margin-bottom:5px;">
                <%= link_to(source.source, "/tr8n/app/phrases/index?source_id=#{source.id}", :target => "_top") %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
