<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/app/common/header" %>

  <div class="tr8n tr8n_container">
    <%= render :partial => "breadcrumb" %>
    <%= render :partial => "header" %>
    <%= render :partial => "toolbar" %>

    <% if translation_key.in_current_language? %>
      <div style="padding-top:10px; padding-bottom: 10px;">
        <%= tra("This phrase needs no translations for {language}.", :language => tr8n_current_language.native_name) %>
        <%= link_to_function(tra("Choose another language."), "Tr8n.UI.LanguageSelector.show()") %>
      </div>
    <% else %>
      <%= render :partial => "translations_module" %>
      <%= render :partial => "translation_module" %>
      <%= render :partial => "permutations_module" %>
    <% end %>

    <%= render :partial => "comments_module" %>

    <% if @show_add_dialog and not @translation_key.locked? and @translation_key.fallback_key.nil? %>
      <script>
        window.setTimeout(function() {
          addTranslation();
        }, 1000);
      </script>
    <% end %>

  </div>

  <% unless translation_key.in_current_language? %>
    <script>
      function addTranslation() {
        Tr8n.Utils.Effects.hide('translation_key_toolbar');
        Tr8n.Utils.Effects.hide('translations_module');
        Tr8n.Utils.Effects.hide('comments_module');
        Tr8n.Utils.Effects.hide('permutations_module');
        Tr8n.Utils.Effects.show('translation_module');
      }

      function addContextRules() {
        Tr8n.Utils.Effects.hide('translation_key_toolbar');
        Tr8n.Utils.Effects.hide('translations_module');
        Tr8n.Utils.Effects.hide('comments_module');
        Tr8n.Utils.Effects.hide('translation_module');
        Tr8n.Utils.Effects.show('permutations_module');
      }

      function viewTranslations() {
        Tr8n.Utils.Effects.show('translation_key_toolbar');
        Tr8n.Utils.Effects.hide('translation_module');
        Tr8n.Utils.Effects.hide('permutations_module');
        Tr8n.Utils.Effects.show('translations_module');
        Tr8n.Utils.Effects.show('comments_module');
      }
    </script>
  <% end %>
	<%= render :partial => "/tr8n/app/common/footer" %>

<% end %>