<!-- Modal -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">
        <% if @context_rule.id %>
          <%=tra("Update Context Rule")%>
        <% else %>
          <%=tra("Add Context Rule")%>
        <% end %>
      </h4>
    </div>

    <div class="modal-body">
      <%= form_for(@context_rule, :as => :context_rule, :url => {:id => @context.id, :rule_id => @context_rule.id}, :html => {:method => :post, :role => "form", :class => "form-inline", :id => "context_form"}) do |f| %>
        <div class="form-group">
          <label for="context_rule[keyword]"><%=tra("Keyword")%></label>
          <%=f.text_field(:keyword, :placeholder => "Required. Enter context keyword", :class => "form-control input-block-level") %>
        </div>
        <div class="form-group">
          <label for="context_rule[description]"><%=tra("Description")%></label>
          <%=f.text_area(:description, :placeholder => "Optional. Enter description", :class => "form-control input-block-level", :style => "height:50px;") %>
        </div>
        <div class="form-group">
          <label for="context_rule[conditions]"><%=tra("Conditions")%></label>
          <%= text_area_tag("context_rule[conditions]", @context_rule.definition["conditions"], :placeholder => "Required. Enter symbolic notation for matching the context rule. You may use any variables defined in the context.", :class => "form-control input-block-level", :style=>"height:100px;") %>
        </div>
        <div class="form-group">
          <label for="context_rule[examples]"><%=tra("Examples")%></label>
          <%= f.text_area(:examples, :placeholder => "Optional. Provide some examples for translators", :class => "form-control input-block-level", :style=>"height:100px;") %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%=tra("Cancel") %></button>
      <button type="submit" class="btn btn-primary" onClick="$('#context_form').submit();"><%=tra("Submit") %></button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
