<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/language/common/header" %>
  <div class="tr8n tr8n_container" <%=tr8n_dir_attribute_tag%>>

    <ul class="breadcrumb">
      <li><%=link_to(tra("Context Rules"), :action => :index)%>
      <span class="divider">/</span></li>
      <li class="active"><%=link_to(@context.keyword, :id => @context.id)%></li>
    </ul>

    <div class="section grey">
      <div class="tr8n_fltr" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Language Context Rules") %>
      </div>

      <div class="tr8n_txtl" style="padding-top:5px;padding-bottom:20px;font-size:12px;">
        <%=tra("Language context consists of multiple rules.") %>
        <%=tra("Each context has a keyword, list of variables and token mapping for default token substitution.") %>
        <%=tra("The rules of the context are defined using symbolic notations.") %>

        <div class="tr8n_txtl" style="padding-top:10px;">
          <%=tra("The following rules define this context:")%>
        </div>
      </div>
    </div>

    <div class="sub_section">
      <div class="header">
        <div class="rule_buttons">
          <%=link_to("<i class='icon-wrench'></i>".html_safe, {:action => :context_modal, :id => @context.id}, {"data-toggle" => "dynamic_modal"})%>
          <%=link_to("<i class='icon-remove-circle'></i>".html_safe, {:action => :delete_context, :id => @context.id}, :confirm => trla("Are you sure you want to delete this context?"))%>
        </div>
        <div>
          <%=@context.keyword %>
        </div>
        <% if @context.description %>
          <div style="color:#666; padding-top:10px; font-weight: normal; font-size:12px;">
            <%=@context.description %>
          </div>
        <% end %>

        <div style="font-size:12px; color:#666; font-weight:normal; margin-top:10px;">
          <div class="row">
            <div class="span1"><%=tra("Keyword:") %></div>
            <div class="span3"><%=@context.keyword %></div>
          </div>

          <div class="row">
            <div class="span1"><%=tra("Tokens:") %></div>
            <div class="span3"><%= @context.definition["token_expression"] %></div>
          </div>

          <div class="row">
            <div class="span1"><%=tra("Variables:") %></div>
            <div class="span3"><%= @context.variables.collect{|var| "<span class='variable'>#{var}</span>"}.join(', ').html_safe %></div>
          </div>

          <div class="row">
            <div class="span1">Forms:</div>
            <div class="span9">
              <% @context.token_mapping.each_with_index do |form, index| %>
                <div class="row">
                  <div class="span2"><%=tra("{count||parameter}:", :count => (index+1))%></div>
                  <div class="span5"><%= form.to_json %></div>
                </div>
              <% end %>
            </div>
          </div>

          <% if @context.rules.any? %>
            <div class="row">
              <div class="span1"><%=tra("Rules:") %></div>
              <div class="span3"><%=@context.rules.collect{|rule| link_to(rule.keyword, :id => @context.id, :anchor => rule.keyword)}.join(', ').html_safe %></div>
            </div>
          <% end %>

          <div class="text-right" style="font-size: 12px; color: grey; padding:5px; padding-top:20px;">
            <button class="btn btn-primary" data-toggle="dynamic_modal" href="/tr8n/language/context_rules/context_rule_modal?id=<%=@context.id%>">
              <%= tra("Add New Rule") %>
            </button>
          </div>

        </div>
      </div>
    </div>

    <% if @context.rules.empty? %>
      <div style="padding-top:20px;padding-bottom:20px;font-size:14px;">
        <%=tra("No language case rules have been configured.") %>
      </div>
    <% end %>

    <% @context.rules.each do |rule| %>
      <div class="sub_section">
        <div class="rule">
          <div class="rule_buttons">
            <%=link_to("<i class='icon-wrench'></i>".html_safe, {:action => :context_rule_modal, :id => @context.id, :rule_id => rule.id}, {"data-toggle" => "dynamic_modal"})%>
            <%=link_to("<i class='icon-remove-circle'></i>".html_safe, {:action => :delete_context_rule, :rule_id => rule.id}, :confirm => trla("Are you sure you want to delete this rule?"))%>
          </div>

          <div style="font-size:14px; padding-bottom:10px;">
            <%= link_to("", {}, :id => rule.keyword) %>
            <strong><%=rule.keyword %></strong>
            <span style="color:#888;font-size:12px;"><%=rule.description %></span>
          </div>

          <% if rule.conditions %>
            <div class="labeled_box">
              <span class="title"><%=tra("conditions") %></span>
              <div style="padding:5px;padding-left:25px;">
                <%= Tr8n::RulesEngine::Parser.new(rule.conditions).decorate %>
              </div>
            </div>
          <% end %>
          <% unless rule.examples.blank? %>
            <div class="labeled_box">
              <span class="title"><%=tra("examples") %></span>
              <div style="padding:5px;padding-left:25px;">
                <%=rule.examples%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    </div>

  <%= render :partial => "/tr8n/common/footer" %>

<% end %>

