<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/common/header" %>

  <div class="section-header">
    <%=tra("Assignments") %>
  </div>

  <% if @components.empty? %>
    <div class="section grey">
      <%=tra("You currently don't have any assignments") %>
    </div>
  <% else %>
    <div class="section">
      <table class="table table-hover">
        <thead>
        <tr>
          <th style=""><%=tra("Name") %></th>
          <th style="text-align:right"><%=tra("Sections") %></th>
          <th style="text-align:right"><%=tra("Languages") %></th>
        </tr>
        </thead>
        <tbody>
        <% @components.each do |comp| %>
          <tr>
            <td>
              <%=comp.name%>
            </td>
            <td style="text-align:right">
              <%=link_to(comp.sources.count, :action=>:view, :id => comp.id)%>
            </td>
            <td style="text-align:right">
              <%=link_to(comp.translators.count, :action=>:translators, :id => comp.id)%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= render :partial => "/tr8n/common/footer" %>

<% end %>
