<div class="original_text">
  
  <div class="supplemental" style="<%=tr8n_style_attribute_tag('float', 'right')%>">
    <%= tr8n_help_icon_tag %>
  </div>
  
  <div class="quiet small">
    <%=tra("Original Phrase in {language}", :language => "<span dir='ltr'>#{@translation_key.language.name}</span>".html_safe)%>
  </div>

  <div id="original_text" class="quote" <%=tr8n_dir_attribute_tag%>>
    <% if @translation_key.sanitized_label.index("<br>") %>
      <div style="text-align:left"><%=image_tag("tr8n/left_quote.png") %></div>
      <div style="padding-top:10px;padding-left:15px; padding-right:15px;"><%=@translation_key.sanitized_label %></div>
      <div style="text-align:right"><%=image_tag("tr8n/right_quote.png") %></div>
    <% else %>
      <%=image_tag("tr8n/left_quote.png") %>
      <%=@translation_key.sanitized_label %>
      <%=image_tag("tr8n/right_quote.png") %>
    <% end %>
  </div>

  <% unless @translation_key.description.blank? %>
    <div class="desc" style="border:0px;<%=tr8n_style_directional_attribute_tag('border', 'left', '1px solid #ccc')%>;<%=tr8n_style_directional_attribute_tag('padding', 'left', '5px')%>;">
      <%=@translation_key.description %>
    </div>
  <% end %>

</div>

<%=tr8n_spinner_tag("tr8n_translator_spinner", "Translating...")%>
