<table style="width:100%">
  <tr>
    <td style="width:50%; vertical-align: top;">
      <div id="original_text" style="background: #eee; padding:10px; border-top-left-radius:10px; border-bottom-right-radius:10px;">
        <div style="font-weight:bold; padding-bottom:10px;">
          <%=tra("Original Text in {language}", :language => "<span dir='ltr'>#{@translation_key.language.name}</span>".html_safe)%>
        </div>
        <div <%=tr8n_dir_attribute_tag%>>
          <div style="text-align:left"><%=image_tag("tr8n/left_quote.png") %></div>
          <div style="padding-top:10px;padding-left:15px; padding-right:15px;"><%=@translation_key.sanitized_label %></div>
          <div style="text-align:right"><%=image_tag("tr8n/right_quote.png") %></div>
        </div>

        <% unless @translation_key.description.blank? %>
          <div class="desc" style="border:0px;<%=tr8n_style_directional_attribute_tag('border', 'left', '1px solid #ccc')%>;<%=tr8n_style_directional_attribute_tag('padding', 'left', '5px')%>;">
            <%=@translation_key.description %>
          </div>
        <% end %>
      </div>
    </td>
    <td style="vertical-align: middle; padding:5px;">
      <div class="arrow-right"></div>
    </td>
    <td style="width:50%; vertical-align: top;">
      <div id="tr8n_translator_translation_container">
        <div style="font-weight:bold; padding-bottom:5px;">
          <%=tra("Enter {language} Translation:", :language => tr8n_current_language.native_name)%>
        </div>

        <%= text_area_tag("translation[label]", @translation.label, :id => "tr8n_translator_translation_label", :class => "keyboardInput") %>

        <% if tr8n_current_application.feature_enabled?(:context_rules) and @translation_key.permutable? %>
          <div style="<%=tr8n_style_attribute_tag('float', 'right')%>; font-size:10px; padding:3px;">
            <%=link_to(tra("generate context rules for this phrase"), {:action => :dependencies, :id => @translation_key.id, :origin => params[:origin]}, :class=>"translation_action") %>
          </div>
        <% end %>
      </div>
      <%=tr8n_spinner_tag("tr8n_translator_spinner", "Translating...")%>
    </td>
  </tr>

</table>

<%= render :partial=>"tokens" %>

<%= render :partial=>"suggestions" %>

<%= render :partial=>"glossary" %>

<script>
  (function() {
    Tr8n.Dispatcher.postMessage({'subject': 'translator', 'action': 'resize', 'width':  800}, '<%=params[:origin]%>');

    window.setTimeout(function() {
      var label_rect = Tr8n.Utils.elementRect(Tr8n.Utils.element("original_text"));
      Tr8n.Utils.element("tr8n_translator_translation_label").style.height = (label_rect.height) + 'px';
    }, 500);

  })();
</script>

<style>
  .arrow-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #eee;
  }
</style>
