<%= form_for(@translation, :as => :translation, :url => {:controller => "/tr8n/app/translations", :action => :permutate, :id => translation_key.id, :translator => true}) do |f| %>
  <%= hidden_field_tag(:origin, params[:origin]) %>
  <%= hidden_field_tag(:translation_has_dependencies, "true") %>

  <%= render(:partial => "header")%>

  <div class="small_section_title">
    <%=tra("Context Rules")%>
  </div>

  <div style="padding-bottom:15px;">
  <%=render :partial => "/tr8n/common/permutations" %>
  </div>

  <%=link_to(tra("Click here if this phrase does not require context rules"), {:action => :submit, :id => translation_key.id, :origin => params[:origin]}, :style => "font-size:10px;") %>

  <div class="buttons_container">
    <button type="submit" class="btn-submit">
      <%=tra("Continue...")%>
    </button>
  </div>
<% end %>

