<%= render(:partial => "header")%>

<div class="small_section_title">
  <div style="<%=tr8n_style_attribute_tag('float', 'right')%>;font-weight:normal;font-size:10px;color:grey;">
    <%=link_to(tra('view all'), {:controller => '/tr8n/app/phrases', :action => :view, :id => @translation_key.id, :anchor => "translations"}, :target => "_top") %> |
    <%=link_to(tra((@translation_key.comments.count > 0) ? tra("view comments ({count})", :count => @translation_key.comments.count) : tra("add comments")),
                    {:controller => "/tr8n/app/phrases", :action => :view, :id => @translation_key.id, :anchor => "comments"}, :target => "_top") %>
  </div>
  <strong><%=tra("Vote on Translations")%></strong>
</div>

<div id="tr8n_translator_votes_for_<%=@translation_key.id%>" class="votes_container">
  <%= render :partial => '/tr8n/common/translation_votes', :locals => {:translation_key => @translation_key, :translations => @translations, :section_key => @section_key} %>
</div>

<% unless @translation_key.locked? %>
  <div style="padding-top:10px;font-size:11px">
    <%=tra("Don't like any of these?", "Don't like any of these translations?")%>
    <%=link_to(tra('Translate it yourself.', 'Translate this phrase yourself.'), :action => :submit, :id => @translation_key.id, :origin => params[:origin]) %>
  </div>
<% end %>

<% if tr8n_current_translator.manager? %>
  <div id="tr8n_translator_footer_container">
    <%= form_for(@translation, :as => :translation, :url => {:controller => "/tr8n/app/translations", :action => :submit}, :html => {:id => :tr8n_translator_form, :method => :post}) do |f| %>
      <%= hidden_field_tag(:origin, params[:origin]) %>
      <%= hidden_field_tag(:id, @translation_key.id) %>
      <%= hidden_field_tag(:lock, "true") %>
      <div id="tr8n_translator_buttons_container" class="buttons_container">
        <button type="submit" class="btn-submit">
          <%= @translation_key.locked? ? tra('Unlock This Phrase') : tra('Lock This Phrase') %>
        </button>
      </div>
    <% end %>
  </div>
<% end %>