<div class="original_text">
  
  <div class="supplemental" style="<%=tr8n_style_attribute_tag('float', 'right')%>">
    <%= tr8n_help_icon_tag %>
  </div>
  
  <div class="quiet small">
    <%=tra("Original Word/Phrase")%>
  </div>

  <div class="quote" <%=tr8n_dir_attribute_tag%>>
    <%=image_tag("tr8n/left_quote.png") %>
    <%=@label %>
    <%=image_tag("tr8n/right_quote.png") %>
  </div>

</div>
