<div class="section-header">
  <%=tra("Application Settings") %>
</div>

<ul class="nav nav-tabs" style="padding-left:10px;padding-right:10px;">
  <% [
         [nil, "Basics", ["index"], true],
         [nil, "Languages", ["languages"], true],
         [nil, "Featured Languages", ["featured_languages"], true],
         [nil, "Features", ["features"], true],
         [nil, "Decorators", ["decorations"], true],
         [nil, "Tokens", ["tokens"], true],
         [nil, "Shortcuts", ["shortcuts"], true],
         [nil, "Security", ["security"], true],
         [nil, "Logs", ["logs"], true],
     ].each do |tab| %>

    <li class="<%='active' if tab[2].include?(controller.action_name)  %>">
      <%=link_to("/tr8n/app/settings/#{tab[2].first}") do %>
        <% if tab[0] %>
          <i class='<%=tab[0]%>'></i>
        <% end %>
        <%= tra(tab[1]) %>
      <% end %>
    </li>
  <% end %>
</ul>
