<style>
  label {
    font-weight:bold;
    padding-top:15px;
  }
</style>
<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="tr8n tr8n_container">

    <div class="section_title">
      <%=render(:partial => "sections") %>
      <%=tra("Features") %>
    </div>

    <div class="section grey">
      <div class="tr8n_float_right" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Application Features") %>
      </div>

      <div class="tr8n_text_align_left" style="padding-top:5px;padding-bottom:20px;font-size:12px;">
        <%= tra("Here you can enable and disable various application features") %>
      </div>

    </div>

    <div class="section">

      <table class="table table-hover">
        <thead>
          <tr>
            <th><%=tra("Feature") %></th>
            <th style="width:150px"><%=tra("Enable/Disable") %></th>
          </tr>
        </thead>
        <tbody>
        <% features = Tr8n::Feature.by_object(selected_application) %>
        <% keys = features.keys.sort %>
        <% keys.each do |key| %>
          <% data = features[key] %>
          <% next if data["container_only"] %>
          <tr>
            <td>
              <div style="font-weight:bold"><%=key.split('_').collect{|w| w.capitalize}.join(' ')%></div>
              <div style="color:#888">
                <%=tra(data["description"])%>
              </div>
            </td>
            <td>
              <div class="make-switch switch_<%=key%>" data-on="primary" data-off="info">
                <input type="checkbox" <%= "checked" if data["enabled"] %> >
              </div>
              <script>
                (function() {
                  $('.switch_<%=key%>').on('switch-change', function (e, data) {
                    $.ajax({
                      url: "/tr8n/app/settings/toggle_feature?key=<%=key%>&flag=" + data.value
                    }).done(function() {
                    });
                  });
                })();
              </script>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>

    <% if selected_application.default? %>
      <div class="section_title">
        <%=tra("Special {application} Features", :application => selected_application.name) %>
      </div>
      <div class="section">

        <table class="table table-hover">
          <thead>
          <tr>
            <th><%=tra("Feature") %></th>
            <th style="width:150px"><%=tra("Enable/Disable") %></th>
          </tr>
          </thead>
          <tbody>
          <% features = Tr8n::Feature.by_object(selected_application) %>
          <% keys = features.keys.sort %>
          <% keys.each do |key| %>
            <% data = features[key] %>
            <% next unless data["container_only"] %>
            <tr>
              <td>
                <div style="font-weight:bold"><%=key.split('_').collect{|w| w.capitalize}.join(' ')%></div>
                <div style="color:#888">
                  <%=tra(data["description"])%>
                </div>
              </td>
              <td>
                <div class="make-switch switch_<%=key%>" data-on="primary" data-off="info">
                  <input type="checkbox" <%= "checked" if data["enabled"] %> >
                </div>
                <script>
                  (function() {
                    $('.switch_<%=key%>').on('switch-change', function (e, data) {
                      $.ajax({
                        url: "/tr8n/app/settings/toggle_feature?key=<%=key%>&flag=" + data.value
                      }).done(function() {
                          });
                    });
                  })();
                </script>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    <% end %>

  </div>
  <%= render :partial => "/tr8n/app/common/footer" %>

  <%= stylesheet_link_tag('tr8n/bootstrap/bootstrap-switch.css') %>
  <%=javascript_include_tag('tr8n/vendor/bootstrap/bootstrap-switch.js') %>

<% end %>
