<style>
  label {
    font-weight:bold;
    padding-top:15px;
  }
</style>
<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="tr8n tr8n_container">

    <div class="section_title">
      <%=render(:partial => "sections") %>
      <%=tra("Basic Information") %>
    </div>

    <%= form_for(selected_application, :as => :application, :url => {}, :html => {:method => :post}) do |f| %>
      <div class="section grey" style="padding-left:25px;">
        <div style="display:inline-block; width: 250px; vertical-align: top;">
          <div class="form-group">
            <label for="application[logo]"><%=tra("Application Logo:")%></label>
            <div style="padding-left:15px;">
              <%=image_tag(selected_application.logo_url, :style=>"max-width:120px; max-height: 120px; padding:5px;") %>
            </div>
            <div style="padding:15px;">
             <span class="btn fileinput-button">
                <span><%=tra("Upload...") %></span>
                <input id="fileupload" type="file" name="files[]" multiple>
              </span>
              <% if selected_application.logo %>
                <%=link_to("Delete", {:action => :delete_logo}, :class=>"btn", :confirm => trla("Are you sure you want to remove the logo?")) %>
              <% end %>
            </div>
          </div>
        </div>
        <div style="display:inline-block; width: 850px;">
          <div class="form-group">
            <label for="application[name]"><%=tra("Application Name:")%></label>
            <%=f.text_field(:name, :placeholder => "Enter name", :class => "form-control input-block-level") %>
          </div>

          <div class="form-group">
            <label for="application[description]"><%=tra("Description:")%></label>
            <%=f.text_area(:description, :placeholder => "Enter description", :class => "form-control input-block-level", :style => "height:90px;") %>
          </div>

          <div class="form-group">
            <label for="application[name]"><%=tra("Website Url:")%></label>
            <%=f.text_field(:url, :placeholder => "Enter url", :class => "form-control input-block-level") %>
          </div>
        </div>

        <div class="row" style="padding-top:30px;">
          <div class="span3" style="width:320px;">
            <div class="form-group">
              <label for="locale"><%=tra("Source Language:")%></label>
              <select name="default_locale">
                <% selected_application.languages.each do |lang| %>
                  <option <%="selected" if selected_application.default_language == lang %> value="<%=lang.locale%>"><%=lang.english_name%></option>
                <% end %>
              </select>
              <div style="padding-top:0px;color:#666;font-size:11px;">
                <%= tra("The language used in the source code of the application.")%>
              </div>
            </div>

          </div>
          <div class="span4">
            <div class="form-group">
              <label for="application[threshold]"><%=tra("Translation Threshold:")%></label>
              <div id="threshold_slider" style="width:200px;"></div>
              <%=f.hidden_field(:threshold) %>
              <div style="padding-top:10px;color:#666;">
                <%= tra("Minimum translation rank:")%> <span id="threshold_value" style="font-weight:bold; color: black"><%=selected_application.threshold%></span>
                <div style="font-size:11px;"><%= tra("Only translations with the rank or above will be displayed.")%></div>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="form-group">
              <label for="application[translator_level]"><%=tra("Translator Level:")%></label>
              <div id="translator_level_slider" style="width:200px;"></div>
              <%=f.hidden_field(:translator_level) %>
              <div style="padding-top:10px;color:#666;">
                <%= tra("Minimum translator level:")%> <span id="translator_level_value" style="font-weight:bold; color: black"><%=selected_application.translator_level%></span>
                <div style="font-size:11px;"><%= tra("Only translators of the level or above can translate this application.")%></div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group" style="padding-top:25px;padding-bottom:15px; padding-right:15px;">
          <% unless selected_application.default? %>
            <div style="float:right;">
              <%=link_to("Delete Application", {:action => :delete}, :confirm => tra("Are you absolutely sure you want to delete this application?"), :class=>"btn btn-danger") %>
            </div>
          <% end %>
          <button type="submit" class="btn btn-primary">
            <%=tra("Save Changes")%>
          </button>
        </div>

      </div>
    <% end %>
  </div>
  <%= render :partial => "/tr8n/app/common/footer" %>

<% end %>

<script>
  $(function() {
    $( "#threshold_slider" ).slider({
      range: "min",
      value: <%=selected_application.threshold%>,
      min: 1,
      max: 50,
      slide: function( event, ui ) {
        $( "#threshold_value" ).html( ui.value );
        $( "#application_threshold" ).val( ui.value );
      }
    });
    $( "#translator_level_slider" ).slider({
      range: "min",
      value: <%=selected_application.translator_level%>,
      min: 1,
      max: 100,
      slide: function( event, ui ) {
        $( "#translator_level_value" ).html( ui.value );
        $( "#application_translator_level" ).val( ui.value );
      }
    });
  });
</script>

<%= stylesheet_link_tag('tr8n/jquery/fileupload/jquery.fileupload.css') %>
<%=javascript_include_tag('tr8n/vendor/jquery/fileupload/jquery.iframe-transport.js') %>
<%=javascript_include_tag('tr8n/vendor/jquery/fileupload/jquery.fileupload.js') %>

<script>
  $(function () {
    $('#fileupload').fileupload({
      dataType: 'json',
      acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
      maxFileSize: 5000000, // 5 MB
      url: "/tr8n/app/settings/upload_logo",
      done: function (e, data) {
        window.location.reload();
      }

    });
  });
</script>

