<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="tr8n tr8n_container">

    <div class="section_title">
      <%=render(:partial => "sections") %>
      <%=tra("Languages") %>
    </div>

    <div class="section grey">
      <div class="tr8n_float_right" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Application Languages") %>
      </div>

      <div class="tr8n_text_align_left" style="padding-top:5px;padding-bottom:20px;font-size:12px;">
        <%=tra("This section allows you to add and remove languages from the application.") %>
        <%=tra("When a language is removed no language data is lost.") %> <%=tra("The language will not appear in the language selector") %>
      </div>

      <div class="text-right">
        <%=link_to(tra("Add Languages"), {:action => :add_languages_modal}, {"class" => "btn btn-small btn-primary", "data-toggle" => "dynamic_modal"})%>
      </div>

    </div>

    <div class="section">
      <table class="table table-hover" id="languages">
        <thead>
        <tr>
          <th><%=tra("English Name") %></th>
          <th><%=tra("Native Name") %></th>
          <th><%=tra("Locale") %></th>
          <th><%=tra("Direction") %></th>
        </tr>
        </thead>
        <tbody id="languages" data-update-url="/tr8n/app/settings/update_languages_order">
        <% selected_application.languages.each do |lang| %>
          <tr id="locale_<%=lang.locale%>">
            <td>
              <%= tr8n_language_flag_tag(lang) %>
              <%=lang.english_name%>
            </td>
            <td><%=lang.native_name%></td>
            <td><%=lang.locale%></td>
            <td><%= (lang.dir == "ltr" ? "&rarr;" : "&larr;").html_safe %></td>
            <td style="text-align:right">
              <% featured = lang.featured?(selected_application) %>
              <span id="locale_<%=lang.locale%>_unfeatured" style="<%= 'display:none' unless featured %>">
                <%=link_to_function(tra("unfeature", "Remove from featured items"), "toggleFeature('#{lang.locale}', false)")%>
              </span>
              <span id="locale_<%=lang.locale%>_featured" style="<%= 'display:none' if featured %>">
                <%=link_to_function(tra("feature", "Add to featured items"), "toggleFeature('#{lang.locale}', true)")%>
              </span>
              |
              <%=link_to_function(tra("remove"), "removeLanguage('#{lang.locale}')")%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>

  </div>
  <%= render :partial => "/tr8n/app/common/footer" %>

<% end %>

<script>
  function removeLanguage(locale) {
    if (!confirm("<%=trla("Are you sure you want to remove this language from the application?")%>")) return;
    $.get("/tr8n/app/settings/remove_language", {"lang": locale}).success(function() {
      $('table#languages tr#locale_' + locale).remove();
    });
  }

  function toggleFeature(locale, flag) {
    $.get("/tr8n/app/settings/toggle_featured_language", {"lang": locale}).success(function() {
      $('#locale_' + locale + '_featured').hide();
      $('#locale_' + locale + '_unfeatured').hide();
      if (!flag)
        $('#locale_' + locale + '_featured').show();
      else
        $('#locale_' + locale + '_unfeatured').show();
    });
  }

</script>
