<style>
  label {
    font-weight:bold;
    padding-top:15px;
  }
</style>
<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="tr8n tr8n_container">

    <div class="section_title">
      <%=render(:partial => "sections") %>
      <%=tra("Global Tokens") %>
    </div>

    <div class="section grey">
      <div class="tr8n_float_right" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Application Tokens") %>
      </div>

      <div class="tr8n_text_align_left" style="padding-top:5px;padding-bottom:20px;font-size:12px;">
        <%= tra("Global tokens are always passed to all emails and translation keys as default tokens.") %>
        <%= tra("Any token can be overloaded inside of the Client SDK or individual translation key.") %>
      </div>

      <div class="text-right" style="font-size: 12px; color: grey; padding:5px; padding-top:20px;">
        <%=link_to("Add Global Token", {:action => :token_wizard}, {"class" => "btn btn-primary", "data-toggle" => "dynamic_wizard"})%>
      </div>

    </div>

    <div class="navbar" style="margin-bottom:5px;">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li id="nav_data_tokens" <%= "class=active" if @type == "data" %>> <%= link_to(tra("Data Tokens"), :type => "data") %> </li>
            <li id="nav_decoration_tokens" <%= "class=active" if @type == "decoration" %>><%= link_to(tra("Decoration Tokens"), :type => "decoration") %> </li>
          </ul>

          <ul class="nav pull-right">
            <li>
              <div style="display:none;text-align:right;font-weight:normal;padding-top:10px;" id="template_status"><%=image_tag("tr8n/spinner.gif", :style => "vertical-align:middle;")%> Saving...</div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="section" id="data_tokens">
      <table class="table table-hover">
        <thead>
        <tr>
          <th><%=tra("Token Name") %></th>
          <th><%=tra("Substitution Value") %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% if selected_application.tokens(@type).blank? %>
          <tr><td colspan="3"><%=tra("No #{@type} tokens have been defined")%></td></tr>
        <% end %>

        <% selected_application.tokens(@type).each do |key, value| %>
        <tr>
          <td>
            <%= key %>
          </td>
          <td>
            <%= value %>
          </td>
          <td style="text-align:right">
            <%=link_to("<i class='icon-wrench'></i>".html_safe, {:action => :token_modal, :type => @type, :key => key}, {"data-toggle" => "dynamic_modal"})%>
            <%=link_to("<i class='icon-remove-circle'></i>".html_safe, {:action => :delete_token, :type => @type,  :key => key}, :confirm => trla("Are you sure you want to delete this domain?"))%>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <%= render :partial => "/tr8n/app/common/footer" %>

  <%=javascript_include_tag('tr8n/vendor/prism.js') %>
  <%= stylesheet_link_tag('tr8n/vendor/prism.css') %>

<% end %>
