<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>
  <%= render :partial => "/tr8n/app/common/header" %>

  <div class="section-header">
    <%=tra("Dashboard") %>
  </div>

  <div class="tr8n tr8n_container">

    <div class="section_title">
      <%= tra("Summary") %>
    </div>

    <div class="section">

    This application contains 1000 keys in 50 sources.
    The application is being translated by 40 translators in 39 languages.

    There are 50 components registered for the application. All of them are live.
    </div>

    <div class="section_title">
      Keys Summary for Russian language
    </div>
    <div class="section">
      Out of 1000 keys, 6889 have at least one translation.
      5000 keys are locked.

      Pi chart of total vs translated vs locked.

      New keys by date chart.

      Translations by date chart.

      Key locks by date chart.
    </div>

    <div class="section_title">
      Components Status
    </div>





  </div>
  <%= render :partial => "/tr8n/app/common/footer" %>

  <%=javascript_include_tag("tr8n/vendor/jquery/highcharts.js") %>
  <%=javascript_include_tag("tr8n/vendor/jquery/exporting.js") %>

  <script>
  </script>

<% end %>