<%= tr8n_paginator_tag(translations, :subject => 'translation') if mode == :list and translations.any? %>

<% if translations.empty? %>
  <div class="tr8n_text_align_left" style="padding-top:10px; font-size:14px;">
    <%=trla("No translations found")%>
  </div>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr style="">
        <th class="tr8n_text_align_left" style="width:170px;"><%=tra("Translator")%></th>
        <th class="tr8n_text_align_right" style="width:10px;"></th>
        <th style="width:80px;text-align:center"><%=tra("Your Vote")%></th>
        <th class="tr8n_text_align_left"><%=tra("Translation")%></th>
        <% if [:view, :edit].include?(mode) %>
          <th class="topic_header" style="width:50px;">&nbsp;</th>
        <% end %>
      </tr>
    </thead>

    <% translations.each do |trn| %>
      <tr id="translation_row_<%=trn.id%>">
         <%= render :partial => "/tr8n/app/translations/translation", :locals => {:translation => trn, :mode => mode} %>
      </tr>
    <% end %>
  </table>
<% end %>

<% if [:edit, :view].include?(mode) %>
	<script>
	  function deleteTranslationRow(translation_id) {
	    if (!confirm("<%=trla('Are you sure you want to delete this translation?')%>")) {
	      return;
	    }
	    
	    Tr8n.Utils.Effects.hide('tr8n_votes_for_' + translation_id);
	    Tr8n.Utils.Effects.show('tr8n_spinner_for_' + translation_id);
	    location = "/tr8n/app/translations/delete?translation_id=" + translation_id;
	  }
	  
	  function updateTranslationRow(translation_id, mode) {
	    Tr8n.Utils.Effects.hide('tr8n_votes_for_' + translation_id);
	    Tr8n.Utils.Effects.show('tr8n_spinner_for_' + translation_id);
	    
      Tr8n.Utils.update('translation_row_' + translation_id, '/tr8n/app/translations/update', {
        evalScripts: true,
        parameters: "translation_id=" + translation_id + "&mode=" + mode
      });
	  }
	  
	  function submitTranslationRow(translation_id) {
	    Tr8n.Utils.Effects.hide('tr8n_votes_for_' + translation_id);
	    Tr8n.Utils.Effects.show('tr8n_spinner_for_' + translation_id);
	    
      Tr8n.Utils.update('translation_row_' + translation_id, '/tr8n/app/translations/update', {
        evalScripts: true,
        parameters: {translation_id: translation_id, label: Tr8n.value("translation_row_value_" + translation_id)},
        method: 'post'
      });
	  }
	</script>
<% end %>