<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>
  <%= render :partial => "/tr8n/app/common/header" %>

  <%=render(:partial => "sections") %>

  <div class="tr8n tr8n_container">
    <div class="section grey">
      <div class="tr8n_float_right" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Site Map") %>
      </div>

      <div class="tr8n_text_align_left" style="padding-top:5px;padding-bottom:20px;font-size:12px;">
        <%=tra("This section provides a list of components configured for this application.") %>
      </div>

      <div style="text-align:right">
        <%=link_to(tra("Create New Component"), {:controller => "/tr8n/app/wizards", :action => :component}, {"class" => "btn btn-small btn-primary", "data-toggle" => "dynamic_wizard"})%>
      </div>
    </div>

    <% if selected_application.components.empty? %>
      <%=tra("No components have been created for this application.") %>
      <%=tra("[link: Click here] to create a new component.", :link => lambda{|t| link_to(t, {:controller => "/tr8n/app/wizards", :action => :component}, {"data-toggle" => "dynamic_wizard"})}) %>
    <% else %>
      <div class="section">
        <table class="table table-hover">
          <thead>
          <tr>
            <th style=""><%=tra("Keyword") %></th>
            <th style=""><%=tra("Name") %></th>
            <th style="text-align:right"><%=tra("Sources") %></th>
            <th style="text-align:right"><%=tra("Languages") %></th>
            <th style="text-align:right"><%=tra("Translators") %></th>
            <th style=""></th>
          </tr>
          </thead>
          <tbody>
          <% @components.each do |comp| %>
            <tr>
              <td>
                <%=comp.key%>
              </td>
              <td>
                <%=comp.name%>
              </td>
              <td style="text-align:right">
                <%=link_to(comp.sources.count, :action=>:view, :id => comp.id)%>
              </td>
              <td style="text-align:right">
                <%=link_to(comp.languages.count, :action=>:languages, :id => comp.id)%>
              </td>
              <td style="text-align:right">
                <%=link_to(comp.translators.count, :action=>:translators, :id => comp.id)%>
              </td>
              <td style="text-align:right">
                <%=link_to("<i class='icon-pencil'></i>".html_safe, {:action => :component_modal, :id => comp.id}, {"data-toggle" => "dynamic_modal"})%>
                <%=link_to("<i class='icon-remove'></i>".html_safe, {:action => :delete_component, :id => comp.id}, {:confirm => trla("Are you sure you want to delete this component?")})%>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

  </div>
  <%= render :partial => "/tr8n/app/common/footer" %>
<% end %>

