<%= render :partial => "header" %>

<div class="documentation_section_title">
  <%= tr("Discussions") %>
</div>

<div class="documentation_section">
	<p>
    <%= tr("Each settings has its own discussion forum for translators to discuss topics relevant to that settings.") %>
    <%= tr("This is a great way to communicate with other users working on the same settings.") %>
    <%= tr("You can ask questions, post comments, or seek advice from others translating the same settings.") %>
    <%= tr("Switch to your settings to English for discussions that aren't settings specific, such as general questions about the translation tools or settings management.") %>
  </p>
</div>

<%= render :partial => "footer" %>
