<%= tr8n_with_options_tag(:source => 'wizards/register_component') do %>
  <div class="tr8n_container">
    <div class="wizard" id="new-component-wizard">
      <h1><%=tra("Create New Application Component") %></h1>

      <div class="wizard-card" data-cardname="card1">
        <h3><%=tra("Component Details") %></h3>

        <div class="wizard-input-section">
          <p>
            To begin, please enter the new component name.
          </p>

          <div class="control-group">
            <%=text_field_tag(:new_component_name, "", :placeholder => "Name", :class=>"input-xlarge", "data-validate" => "validateComponentName" ) %>
          </div>
        </div>

        <div class="wizard-input-section">
          <p>
            Optionally, provide a description for this component.
          </p>

          <div class="control-group">
            <%=text_area_tag(:new_component_description, "", :placeholder => "Description", :style=>"width:400px;height:80px;") %>
          </div>
        </div>

      </div>

      <div class="wizard-card" data-cardname="card2">
        <h3>Sources</h3>

        <div class="wizard-input-section">
          <p>
            Enter a list of sources to be associated with this component.
          </p>

          <div class="control-group">
            <select id="new_component_sources" data-placeholder="Sources" multiple class="chzn-select" style="width:400px;">
              <option value=""></option>
              <% selected_application.sources.each do |src| %>
                <option value="<%=src.id%>"><%=src.name || src.source%></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="wizard-card" data-cardname="card3">
        <h3>Languages</h3>

        <div class="wizard-input-section">
          <p>
            Enter a list of languages you want to manage for this component. If you leave it empty all application languages will be assigned.
          </p>

          <div class="control-group">
            <select id="new_component_languages" data-placeholder="Languages" multiple class="chzn-select" style="width:400px;">
              <option value=""></option>
              <% selected_application.languages.each do |lang| %>
                <option value="<%=lang.locale%>"><%=lang.english_name%></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <div class="wizard-card" data-cardname="card4">
        <h3>Translators</h3>

        <div class="wizard-input-section">
          <p>
            Optionally, enter a list of email addresses for translators you want to invite to help you translate this component.
          </p>

          <div class="control-group">
            <%=text_field_tag(:new_component_translators, "") %>
          </div>
        </div>
      </div>

      <div class="wizard-error">
        <div class="alert alert-error">
          <strong>There was a problem</strong> with your submission.
          Please correct the errors and re-submit.
        </div>
      </div>

      <div class="wizard-failure">
        <div class="alert alert-error">
          <strong>There was a problem</strong> submitting the form.
          Please try again in a minute.
        </div>
      </div>

      <div class="wizard-success">
        <div class="alert alert-success">
          <span class="create-component-name"></span>
          was created <strong>successfully.</strong>
        </div>

        <a class="btn register-another-component">Register another component</a>
        <span style="padding:0 10px">or</span>
        <a class="btn im-done-with-component">Done</a>
      </div>

    </div>

  <script>

    function validateComponentName(el) {
      var val = el.val();
      ret = {
        status: true
      };
      if (val == "") {
        ret.status = false;
        ret.msg = "Name must not be empty";
      }
      return ret;
    }

    (function() {
      var wizard = $("#new-component-wizard").wizard({});

      $("#new_component_sources").chosen({});
      $("#new_component_languages").chosen({});

      $('#new_component_translators').tagsInput({
        'height':'150px',
        'width':'420px',
        'interactive':true,
        'defaultText':'Enter email',
        'onAddTag': function(tag) {
          if (!validateEmail(tag)) {
            alert("Invalid email address");
            $('#translators').removeTag(tag);
            return false;
          }
        }
      });

      $("#create_component_button").click(function() {
        wizard.show();
      });

      wizard.on("submit", function(wizard) {
        $.ajaxSetup({
          headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          }
        });

        var jqxhr = $.post("/tr8n/app/wizards/register_component", {
          "name": $("#new_component_name").val(),
          "description": $("#new_component_description").val(),
          "sources": $("#new_component_sources").val(),
          "locales": $("#new_component_languages").val(),
          "translators": $("#new_component_translators").val()
        }).done(function(params) {
              if (params["error"]) {
                wizard.trigger("failure");
                wizard.hideButtons();
                wizard.showSubmitCard("failure");
                return;
              }
              $(".create-application-name").html($("#new_component_name").val());
//            wizard._updateProgressBar(0);
              wizard.trigger("success");
              wizard.hideButtons();
              wizard.showSubmitCard("success");
            }).fail(function() {
              wizard.trigger("failure");
              wizard.hideButtons();
              wizard.showSubmitCard("failure");
            });

      });

      wizard.el.find(".wizard-success .register-another-component").click(function() {
        wizard.reset();
      });

      wizard.el.find(".wizard-success .im-done-with-component").click(function() {
        wizard.reset().close();
        location.reload();
      });

    })();
  </script>
  </div>
<% end %>