<div class="">
  <%= tr8n_paginator_tag(templates, :subject => type) if templates.any? %>

  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width:100px;"><%=tra("Keyword") %></th>
      <th style="width:150px"><%=tra("Name") %></th>
      <th style="width:150px"><%=tra("Description") %></th>
      <th style="width:200px;"></th>
    </tr>
    </thead>
    <tbody>
    <% templates.each do |et| %>
      <tr>
        <td>
          <%= et.keyword%>
        </td>
        <td>
          <%= et.name%>
        </td>
        <td>
          <%= et.description%>
        </td>
        <td style="text-align:right">
          <%=link_to_function(tra("Preview"), "previewEmail('#{et.id}', 'html')", :class => "btn") %>
          <%=link_to(tra("Edit"), {:action => :template, :id => et.id}, :class => "btn") %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>