<div class="section-header">
  <%=tra("Emails") %>
</div>

<ul class="nav nav-tabs" style="padding-left:10px;padding-right:10px;">
  <% [
         [nil, "Templates", "index"],
         [nil, "Partials", "partials"],
         [nil, "Layouts", "layouts"],
         [nil, "Assets", "assets"],
     ].each do |tab| %>

    <li class="<%='active' if tab[2] == controller.action_name  %>">
      <%=link_to("/tr8n/app/emails/#{tab[2]}") do %>
        <% if tab[0] %>
          <i class='<%=tab[0]%>'></i>
        <% end %>
        <%= tra(tab[1]) %>
      <% end %>
    </li>
  <% end %>
</ul>


<script>
  function previewEmail(id, mode) {
    var w = 800;
    var h = 600;
    var left = (screen.width/2)-(w/2);
    var top = (screen.height/2)-(h/2);
    var url = "/tr8n/app/emails/preview?id=" + id + "&mode=" + mode;
    return window.open(url, "Tr8n Email Preview", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
  }
</script>
