<% @column_width = 225 %>
<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>
  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="tr8n tr8n_container">

    <div class="section_title">
      <%=render(:partial => "sections") %>
      <%=tra("Email Assets") %>
    </div>

    <div class="section grey">
      <div class="tr8n_float_right" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Email Assets") %>
      </div>

      <div class="tr8n_text_align_left" style="padding-top:5px;padding-bottom:20px;font-size:12px;">
        <%= tra("This section allows you to manage assets used by the email templates.") %>
        <%= tra("To include an asset in an email, simply use the following tag: [bold: {tag}].", :tag => "{{ asset KEYWORD (options) }}") %>
        <%= tra("This will insert an image tag in the email template.") %> <%= tra("You can provide style, class and other elements in the options.") %>
        <%= tra("If you prefer to only get the asset URL, without the image tag, use [bold: {tag}].", :tag => "{{ asset KEYWORD url }}") %>
      </div>

      <div class="text-right">
       <span class="btn btn-primary fileinput-button">
          <span>Add files...</span>
          <input id="fileupload" type="file" name="files[]" multiple>
        </span>
      </div>
    </div>

    <div>
      <%= tr8n_paginator_tag(@assets, :subject => 'asset') if @assets.any? %>

      <ul id="assets" data-update-url="/tr8n/app/sitemap/update_components_order">
        <% @assets.each do |a| %>
        <li class="ui-state-default" id="asset_<%=a.id%>">
          <div class="section grey" style="height: 150px;">
            <div style="float:right">
              <%=link_to("<i class='icon-pencil'></i>".html_safe, {:action => :asset_modal, :id => a.id}, "data-toggle" => "dynamic_modal")%>
              <%=link_to("<i class='icon-remove'></i>".html_safe, {:action => :delete_asset, :id => a.id}, :confirm => trla("Are you sure you want to delete this asset?"))%>
            </div>

            <div><%= a.keyword%></div>
            <div style="text-align: center; padding-top:20px;">
              <%=image_tag(a.url, :style=>"max-height:100px;max-width:100px;")%>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
  <%= render :partial => "/tr8n/app/common/footer" %>

  <%= stylesheet_link_tag('tr8n/jquery/fileupload/jquery.fileupload.css') %>
  <%=javascript_include_tag('tr8n/vendor/jquery/fileupload/jquery.iframe-transport.js') %>
  <%=javascript_include_tag('tr8n/vendor/jquery/fileupload/jquery.fileupload.js') %>


    <style>
      #assets .handle {
        cursor: move;
      }

      #assets .handle2 {
        cursor: move;
      }

      .placeholder {
        border: 1px dashed #cccccc;
        height: 200px;
        border-radius:5px;
        margin: 10px 0px;
      }
      #assets { list-style-type: none; margin: 0; padding: 0; width: 100%; margin-left:1px;}
      #assets .ui-state-default { margin-right: 5px; padding: 1px; float: left; width: <%=@column_width%>px;}

      .ui-state-default {
        background: transparent;
        border: 0px;
      }
    </style>

  <script>
    $(function () {
      $('#fileupload').fileupload({
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 5000000, // 5 MB
        url: "/tr8n/app/emails/upload_asset",
        progressall: function (e, data) {
//          var progress = parseInt(data.loaded / data.total * 100, 10);
//          $('#progress .bar').css(
//              'width',
//              progress + '%'
//          );
        },
        done: function (e, data) {
          window.location.reload();
//          $.each(data.result.files, function (index, file) {
//            $('#fileupload_status').text(file.name + " has been uploaded");
//          });
        }

      });
    });
  </script>

<% end %>

