<div class="section-header">
  <%=tra("Application Site Map") %>
</div>

<ul class="breadcrumb">
  <li><%=link_to(tra("Application Components"), :action => :index, :mode => :list) %></li>
  <span class="divider">/</span>
  <li class="active"><%=link_to(@component.name, :action => :view, :id => @component.id) %></li>
</ul>

<ul class="nav nav-tabs" style="padding-left:10px;padding-right:10px;">
  <% [
         [nil, "Sources", ["view"], true],
         [nil, "Languages", ["languages"], true],
         [nil, "Translators", ["translators"], true],
     ].each do |tab| %>

    <li class="<%='active' if tab[2].include?(controller.action_name)  %>">
      <%=link_to("/tr8n/app/sitemap/#{tab[2].first}?id=#{@component.id}") do %>
        <% if tab[0] %>
          <i class='<%=tab[0]%>'></i>
        <% end %>
        <%= tra(tab[1]) %>
      <% end %>
    </li>
  <% end %>
</ul>