<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>
  <style>
    label {
      font-weight:bold;
      padding-top:15px;
    }
  </style>

  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="tr8n tr8n_container">

    <ul class="breadcrumb">
      <li><%=link_to(tra("Application Components"), :action => :index, :mode => :list) %></li>
      <span class="divider">/</span>
      <li class="active"><%=@component.name %></li>
    </ul>

    <div class="section_title">
      <%=render(:partial => "component_sections") %>
      <%=tra("Languages")%>
    </div>


    <div class="section grey">
      <div class="tr8n_float_right" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Component Sources") %>
      </div>

      <div class="tr8n_text_align_left" style="padding-top:5px;font-size:12px;">
        <%= tra("This section shows all languages assigned to the component.") %>

        <div style="text-align: right; padding-top:20px;">
          <%=link_to(tra("Edit Component"), {:action => :component_modal, :id => @component.id}, {"data-toggle" => "dynamic_modal", "class" => "btn btn-small"})%>
          <%=link_to(tra("Assign All Application Languages"), {:action => :add_all_languages, :id => @component.id}, {:confirm=>trla("Are you sure you want to add all application languages to this component?"),"class" => "btn btn-small"})%>
          <%=link_to(tra("Assign Languages"), {:action => :add_languages_modal, :id => @component.id}, {"data-toggle" => "dynamic_modal", "class" => "btn btn-small btn-primary"})%>
        </div>
      </div>

    </div>

    <div class="section">
      <table class="table table-hover" id="languages">
        <thead>
        <tr>
          <th><%=tra("English Name") %></th>
          <th><%=tra("Native Name") %></th>
          <th><%=tra("Locale") %></th>
          <th><%=tra("Direction") %></th>
        </tr>
        </thead>
        <tbody id="languages" data-update-url="/tr8n/app/settings/update_languages_order">
        <% @component.component_languages.each do |comp_lang| %>
          <% lang = comp_lang.language %>
          <tr id="locale_<%=lang.locale%>">
            <td>
              <%= tr8n_language_flag_tag(lang) %>
              <%=lang.english_name%>
            </td>
            <td><%=lang.native_name%></td>
            <td><%=lang.locale%></td>
            <td><%= (lang.dir == "ltr" ? "&rarr;" : "&larr;").html_safe %></td>
            <td style="text-align:right">
              <%=link_to("<i class='icon-remove'></i>".html_safe, {:action => :remove_language, :id => comp_lang.id}, {:confirm => trla("Are you sure you want to remove this language from the component?")})%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
  <%= render :partial => "/tr8n/app/common/footer" %>

  <%= stylesheet_link_tag('tr8n/bootstrap/bootstrap-switch.css') %>
  <%=javascript_include_tag('tr8n/vendor/bootstrap/bootstrap-switch.js') %>

<% end %>
