<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>
  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="section-header">
    <%=tra("Glossary") %>
  </div>

  <div class="tr8n tr8n_container">

    <div class="section grey">
      <div class="tr8n_float_right" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Glossary") %>
      </div>

      <div class="tr8n_text_align_left" style="padding-top:5px;padding-bottom:20px;font-size:12px;">
        <%=tra("Each application can have its own glossary of common terms that will appear in the translator window.") %> <%= tra("Glossaries can also be shared between applications.") %>
        <%=tra("When a language is removed no language data is lost.") %> <%=tra("The language will not appear in the language selector") %>
      </div>

      <% if application_manager? %>
        <div class="text-right" style="font-size: 12px; color: grey; padding:5px; padding-top:0px;">
          <%=link_to("Add New Term", {:action => :term_modal}, {"class" => "btn btn-primary", "data-toggle" => "dynamic_modal"})%>
        </div>
      <% end %>
    </div>

    <% if @terms.blank? %>
      <%=tra("No terms have been found")%>
    <% else %>
      <div class="section blue tr8n_text_align_left">
        <%= form_tag({:action => :index}, {:method => :get, :id => "glossary_search_form"}) do %>
          <div class="tr8n_float_right">
            <button type="submit" class="btn btn-primary btn-lg" onClick="Tr8n.Effects.submit('glossary_search_form'); return false;">
              <span><%=tra("Search")%></span>
            </button>
          </div>

          <div class="tr8n_text_align_left">
            <%=text_field_tag(:search, params[:search], {:style => "width:90%;font-size:12px;height:20px"})%><br>
          </div>
        <% end %>
      </div>

      <div class="section">
        <%= tr8n_paginator_tag(@terms, :subject => 'term') %>

        <table class="table table-hover">
          <thead>
          <tr>
            <th><%=tra("Term") %></th>
            <th><%=tra("Description") %></th>
            <% if application_manager? %>
              <th></th>
            <% end %>
          </tr>
          </thead>
          <tbody>

          <% @terms.each_with_index do |term, index| %>
            <tr>
              <td style="font-weight:bold; padding-right:10px;">
                <%= term.keyword %>
              </td>
              <td>
                <%= term.description.gsub("\n", "{br}") %>
              </td>
              <% if application_manager? %>
                <td style="text-align:right;white-space: nowrap">
                  <%=link_to("<i class='icon-wrench'></i>".html_safe, {:action => :term_modal, :id => term.id}, {"data-toggle" => "dynamic_modal"})%>
                  <%=link_to("<i class='icon-remove'></i>".html_safe, {:action => :delete_term, :id => term.id}, :confirm => trla("Are you sure you want to delete this term?"))%>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
	</div>
	<%= render :partial => "/tr8n/common/footer" %>
	
<% end %>
