<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>
  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="tr8n tr8n_container">

    <div class="section grey">
      <div class="tr8n_float_right" style="padding-right:5px;">
        <%=tr8n_help_icon_tag("Glossary") %>
      </div>

      <div class="tr8n_text_align_left" style="padding-top:5px;padding-bottom:20px;font-size:12px;">
        <%=tra("Each application can have its own glossary of common terms that will appear in the translator window.") %> <%= tra("Glossaries can also be shared between applications.") %>
        <%=tra("When a language is removed no language data is lost.") %> <%=tra("The language will not appear in the language selector") %>
      </div>
    </div>

    <div class="section blue tr8n_text_align_left">
      <%= form_tag({:action => :index}, {:method => :get, :id => "glossary_search_form"}) do %>
         <div class="tr8n_float_right">
            <button type="submit" class="btn btn-primary btn-lg" onClick="Tr8n.Effects.submit('glossary_search_form'); return false;">
                <span><%=tra("Search")%></span>
            </button>
         </div>

        <div class="tr8n_text_align_left">
           <%=text_field_tag(:search, params[:search], {:style => "width:90%;font-size:12px;height:20px"})%><br>
        </div>
      <% end %>
    </div>

    <div class="section">
      <%= tr8n_paginator_tag(@terms, :subject => 'term') %>

      <table style="width:100%">
        <tr style="border-bottom:1px solid #ccc;">
           <td class="tr8n_text_align_left" style="width:20%;padding:5px;background: #f9f8f7; font-size:16px; color:grey; font-weight:bold; ">
              <%=tra("Term", "Glossary terminology")%>
           </td>
           <td class="tr8n_text_align_left" style="width:80%;padding:5px; font-size:16px; color:grey; font-weight:bold; " colspan="2">
            <%=tra("Description", "Glossary terminology description") %>
           </td>
        </tr>
        <% @terms.each_with_index do |term, index| %>
          <tr  style="border-bottom:1px dotted #ccc;">
            <td class="tr8n_text_align_left" style="vertical-align:top;padding:5px;background: #f9f8f7;"><strong><%=term.keyword%></strong></td>
            <td class="tr8n_text_align_left" style="vertical-align:top;padding:5px;"><%=tr(term.description.gsub("\n", "{br}"))%></td>
          </tr>
        <% end %>
      </table>

    </div>

	</div>
	<%= render :partial => "/tr8n/common/footer" %>
	
<% end %>
