<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/common/header" %>
  <%=render(:partial => "sections") %>

  <div class="tr8n tr8n_container" <%=tr8n_dir_attribute_tag%> >

    <div id="basic_info_container">
      <%= form_for(tr8n_current_translator, :as => :translator, :url => {}, :html => {:id => 'basic_info_form', :method => :post}) do |f| %>
        <div class="section grey">
            <table>
              <tr>
                <th style="width:220px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Name:")%></th>
                <td style="padding:3px;">
                    <%=tr8n_current_translator.name%>
                </td>
              </tr>
              <tr>
                <th style="width:220px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Joined On:")%></th>
                <td style="padding:3px;">
                  <%=tr8n_current_translator.created_at%>
                </td>
              </tr>
              <tr>
                <th style="width:220px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Rank")%></th>
                <td style="padding:3px;">
                  <%=tr8n_current_translator.rank%>
                </td>
              </tr>
              <tr>
                <th style="width:220px;padding:3px;text-align:left;vertical-align:middle;font-weight:bold;"><%=tra("Level")%></th>
                <td style="padding:3px;">
                  <%=tr8n_current_translator.level%>
                </td>
              </tr>

            </table>
        </div>
      <% end %>
    </div>

  </div>

  <%= render :partial => "/tr8n/common/footer" %>

<% end %>	