<div class="tr8n_container" <%=tr8n_dir_attribute_tag%> style="background-color:#f1f4f9;border-top: solid 1px #ddd;border-right: solid 1px #ddd;border-left: solid 1px #ddd;border-top-left-radius:10px;border-top-right-radius:10px; ">
  <div style="padding:15px;padding-bottom:10px;">
    <div style="float:right">
      <%= form_tag("/tr8n/phrases", :id => "tr8n_key_search_form", :method => :get) do %>
        <%= text_field_tag("search", "", :style => "width:150px;font-size:13px;background: white url(/assets/tr8n/icn_search.png) right no-repeat; padding-right: 20px; border-radius:10px;", :placeholder => trla("Quick search")) %>
      <% end %>
    </div>

    <div style="font-size:22px; font-weight: bold;padding-bottom:15px; <%=tr8n_style_attribute_tag('text-align', 'left')%>;">
      <%=tra("Translation Tools") %>
      - <%=tra("{language} Language", nil, :language => tr8n_current_language.native_name)%>
      <% if tr8n_current_language.default? %>
        <% if tr8n_current_user_is_admin? %>
          <%=link_to(tra("manage", "Link to manage settings"), "/tr8n/settings", :style => "font-size:12px;")%>
        <% end %>
      <% else %>
        <% if tr8n_current_user_is_manager? %>
          <%=link_to(tra("manage", "Link to manage settings"), "/tr8n/settings", :style => "font-size:12px;")%>
        <% end %>
      <% end %>
    </div>
  </div>

  <ul class="nav nav-tabs" style="padding-left:10px;padding-right:10px;">
    <% tr8n_features_tabs.each do |tab| %>
      <%
         section_key_condition = tab[:key].to_s == "sitemap" ? (@section_key != nil) : (@section_key == nil)

         if tab[:actions].any?
           current = (tab[:controller] == controller.controller_name and tab[:actions].include?(controller.action_name) and section_key_condition)
         else
           current = (tab[:controller] == controller.controller_name and section_key_condition)
         end
      %>

      <li class="<%='active' if current %>">
        <%=link_to(tra(tab[:title]), tab[:link])%>
      </li>
    <% end %>
  </ul>

</div>
