<!-- Modal -->
<div class="modal-dialog" id="languages_modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">
          <%=tra("Add Countries to Language")%>
      </h4>
    </div>

    <%= form_tag({}, {:method => :post, :role => "form", :class => "form-inline", :id => "countries_form", :style=>"margin:0px;"}) do |f| %>
    <div class="modal-body" style="min-height:300px">

        <div class="form-group">
          <p>
            <%= tra("Enter a list of countries where this language is spoken in.") %>
          </p>

          <%=hidden_field_tag(:codes, "") %>

          <select id="new_codes" data-placeholder="Countries" multiple class="chzn-select" style="width:400px;">
            <option value=""></option>
            <% Tr8n::Country.order("english_name asc").each do |ctr| %>
              <option value="<%=ctr.code%>"><%=ctr.english_name%></option>
            <% end %>
          </select>

          <p style="padding-top:20px; color:#666">
            <%= tra("Start typing a country name.") %>
          </p>

        </div>

    </div>
    <% end %>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%=tra("Cancel") %></button>
      <button type="submit" class="btn btn-primary" onClick="$('#codes').val($('#new_codes').val()); $('#countries_form').submit();"><%=tra("Submit") %></button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
  (function() {
    $("#new_codes").chosen({});
  })();
</script>