<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/language/common/header" %>
  <div class="tr8n tr8n_container" <%=tr8n_dir_attribute_tag%>>

    <div class="section_title">
      <%=render(:partial => "sections") %>
      <%= tra("Basic Information") %>
    </div>

    <%= form_for(tr8n_current_language, :as => :language, :url => {}, :html => {:id => 'basic_info_form', :method => :post}) do |f| %>
      <div id="basic_info_content" class="section grey">
        <div>
          <div class="tr8n_float_right" style="padding-right:5px;">
            <%=tr8n_help_icon_tag("Language Settings") %>
          </div>

          <table cellpadding="0px" cellspacing="0px">
            <tr>
              <th class="tr8n_text_align_left" style="width:220px;padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("Language Flag:")%></th>
              <td class="tr8n_text_align_left" style="padding:3px;">
                <%=image_tag(tr8n_current_language.flag_url, :style=>"max-width:120px; max-height: 120px; padding:5px;") %>
              </td>
            </tr>
            <tr>
              <th class="tr8n_text_align_left" style="width:220px;padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("English Name:")%></th>
              <td class="tr8n_text_align_left" style="padding:3px;">
                <%=f.text_field(:english_name)%>
              </td>
            </tr>
            <tr>
              <th class="tr8n_text_align_left" style="width:120px;padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("Native Name:")%></th>
              <td class="tr8n_text_align_left" style="padding:3px;">
                  <%=f.text_field(:native_name)%>
              </td>
            </tr>
            <tr>
              <th class="tr8n_text_align_left" style="padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("Direction:", "Language direction")%></th>
              <td class="tr8n_text_align_left" style="padding:3px;">
                  <%=f.check_box(:right_to_left, :style=>"margin:0px; padding:0px; width:15px;") %>
                  <%=tra("This language is read from right to left")%>
              </td>
            </tr>

            <% if Tr8n::Config.enable_fallback_languages? and not tr8n_current_language.default? %>
              <tr>
                <th class="tr8n_text_align_left" style="padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("Fallback Language:", "Language to fall back onto if the language phrase is not translated")%></th>
                <td class="tr8n_text_align_left" style="padding:3px;" dir="ltr">
                    <%=select_tag("language[fallback_language_id]", options_for_select(Tr8n::Language.options, @fallback_language.id.to_s))%>
                </td>
              </tr>
            <% end %>

            <tr>
              <th style="padding:3px;vertical-align:middle;font-weight:bold;"></th>
              <td style="padding-top:15px;padding-bottom:15px;">
                <button type="submit" class="btn btn-primary" onClick="Tr8n.submit('basic_info_form'); return false;">
                  <%=tra("Update")%>
                </button>

                <span class="btn fileinput-button">
                  <span><%=tra("Upload Flag...") %></span>
                  <input id="fileupload" type="file" name="files[]" multiple>
                </span>
                <% if tr8n_current_language.flag %>
                  <%=link_to("Remove Flag", {:action => :delete_flag}, :class=>"btn", :confirm => trla("Are you sure you want to remove the flag?")) %>
                <% end %>
              </td>
            </tr>

          </table>
        </div>
      </div>
    <% end %>
  </div>

<%= render :partial => "/tr8n/common/footer" %>

<% end %>

<%= stylesheet_link_tag('tr8n/jquery/fileupload/jquery.fileupload.css') %>
<%=javascript_include_tag('tr8n/vendor/jquery/fileupload/jquery.iframe-transport.js') %>
<%=javascript_include_tag('tr8n/vendor/jquery/fileupload/jquery.fileupload.js') %>

<script>
  $(function () {
    $('#fileupload').fileupload({
      dataType: 'json',
      acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
      maxFileSize: 5000000, // 5 MB
      url: "/tr8n/language/settings/upload_flag",
      done: function (e, data) {
        window.location.reload();
      }

    });
  });
</script>