<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/language/common/header" %>
  <div class="tr8n tr8n_container" <%=tr8n_dir_attribute_tag%>>

    <div class="section_title">
      <%=render(:partial => "sections") %>
      <%= tra("Basic Information") %>
    </div>

    <%= form_for(tr8n_current_language, :as => :language, :url => {}, :html => {:id => 'basic_info_form', :method => :post}) do |f| %>
      <div id="basic_info_content" class="section grey">
        <div class="tr8n_fltr" style="padding-right:5px;">
            <%=tr8n_help_icon_tag("Language Settings") %>
        </div>
        <div>
          <table cellpadding="0px" cellspacing="0px">
            <tr>
              <th class="tr8n_txtl" style="width:220px;padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("English Name:")%></th>
              <td class="tr8n_txtl" style="padding:3px;">
                <%=f.text_field(:english_name)%>
              </td>
            </tr>
            <tr>
              <th class="tr8n_txtl" style="width:120px;padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("Native Name:")%></th>
              <td class="tr8n_txtl" style="padding:3px;">
                  <%=f.text_field(:native_name)%>
              </td>
            </tr>
            <tr>
              <th class="tr8n_txtl" style="padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("Direction:", "Language direction")%></th>
              <td class="tr8n_txtl" style="padding:3px;">
                  <%=f.check_box(:right_to_left, :style=>"margin:0px; padding:0px; width:15px;") %>
                  <%=tra("This language is read from right to left")%>
              </td>
            </tr>

            <% if Tr8n::Config.enable_fallback_languages? and not tr8n_current_language.default? %>
              <tr>
                <th class="tr8n_txtl" style="padding:3px; vertical-align:middle;font-weight:bold;"><%=tra("Fallback Language:", "Language to fall back onto if the language phrase is not translated")%></th>
                <td class="tr8n_txtl" style="padding:3px;" dir="ltr">
                    <%=select_tag("language[fallback_language_id]", options_for_select(Tr8n::Language.options, @fallback_language.id.to_s))%>
                </td>
              </tr>
            <% end %>

            <tr>
              <th style="padding:3px;vertical-align:middle;font-weight:bold;"></th>
              <td style="padding-top:15px;padding-bottom:15px;">
                 <button type="submit" class="btn btn-primary" onClick="Tr8n.submit('basic_info_form'); return false;">
                    <%=tra("Update")%>
                  </button>
              </td>
            </tr>

          </table>
        </div>
      </div>
    <% end %>
  </div>

<%= render :partial => "/tr8n/common/footer" %>

<% end %>
