<%= render :partial => "/tr8n/common/lightbox_header" %>
<style>
  .lightbox {
    background-color: white;
  }
  .title {
    padding: 5px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
  }
  .buttons {
    text-align: center;
  }
  .content {
  }
  .content td {
    vertical-align: middle;
    padding: 3px;
  }
</style>

<div class="inner" <%=tr8n_dir_attribute_tag%> >
	<div class="hd">
		<div class="tr8n_fltr">
			<%=link_to_function(image_tag("tr8n/close.gif"), "hideLightbox()") %>
		</div>
	  <div class="tr8n_txtl" style="font-size:14px; font-weight:bold;">
	     <%= @case.native_name.blank? ? tra('New Language Case') : @case.native_name %>
	     <br>
	     <span style="color:grey; font-size:10px;" dir="ltr">(::<%= @case.keyword %>) <%= @case.description %> </span>
	  </div>
	</div>	
	
  <%= form_for(@rule, :as => :rule, :url => {:action => :lb_language_case_rule, :case_id => @case.id, :rule_id=>@rule.id, :position => params[:position]}) do |f| %>
  <%= hidden_field_tag(:origin, params[:origin]) %>
	<div class="bd">
		  <div class='content' style="height:480px">
        <div style="border:1px solid #ccc; background:#eee; margin-bottom:10px;">  
			    <div style="font-weight:bold; font-size:14px; padding:10px; padding-bottom:10px; background:white;"><%=tra("Rule Definition")%></div>
          <div style="padding:10px;">
            <div style="font-weight:bold; font-size:12px; padding-bottom:5px;"><%=tra("Conditions")%></div>
            <%=text_area_tag("rule[definition][conditions]", @rule.conditions, :style => "width:100%;height:50px;", :placeholder => "Symbolic expression for the token value conditions")%>
            <div style="font-weight:bold; font-size:12px; padding-top:5px; padding-bottom:5px;"><%=tra("Operations")%></div>
            <%=text_area_tag("rule[definition][operations]", @rule.operations, :style => "width:100%;height:50px;", :placeholder => "Symbolic expression for the operations")%>
          </div>
        </div>

        <div style="border:1px solid #ccc; background:#eee;">  
          <div style="font-weight:bold; font-size:14px; padding:10px; padding-bottom:10px; background:white;"><%=tra("Rule Details")%></div>
          <div style="padding:10px;">
            <div style="font-weight:bold; font-size:12px; padding-bottom:5px;"><%=tra("Description")%></div>
            <%=f.text_area(:description, :style => "width:100%;height:50px;", :placeholder => "Rule description")%>
            <div style="font-weight:bold; font-size:12px; padding-top:5px; padding-bottom:5px;"><%=tra("Examples")%></div>
            <%=f.text_area(:examples, :style => "width:100%;height:50px;", :placeholder => "Examples")%>
          </div>
        </div>
		</div>
	</div>

	<div class="ft">
	    <button type="submit" class="translator_btn translator_submit_btn">
	        <span><%=tra(@rule.id.nil? ? "Add Rule" : "Update Rule", "Tr8n lightbox close button")%></span>
	    </button>
     <%=tra("or")%>
     <%=link_to_function(tra("Cancel", "Tr8n lightbox close button"), "hideLightbox()") %>
	</div>
  <% end %>

</div>
<%= render :partial => "/tr8n/common/lightbox_footer" %>
