<div class="section_title tr8n_text_align_left">
  <% if tr8n_current_language.default? %>
    <%=tra("Start a New Discussion Topic For All Translators")%>
	<% else %>
	   <%=tra("Start a New Discussion Topic")%>
	<% end %>
</div>

<div class="section grey tr8n_text_align_left">
  <%= form_tag({:action => :topic}, {:method => :post, :id => "forum_topic_form"}) do %>
    <%=hidden_field_tag(:language_id, params[:language_id])%>
    <%=hidden_field_tag(:mentioned_translators, "")%>

    <table>
      <tr>
        <td style="width:80px; text-align:right; padding-right:10px; font-weight:bold; vertical-align: top">
          <%=tra("Languages:")%>
        </td>
        <td>
          <%=hidden_field_tag(:locales, "") %>
          <select id="forum_locales" data-placeholder="Languages" multiple class="chzn-select" style="width:815px;">
            <option value=""></option>
            <% tr8n_selected_application.languages.each do |lang| %>
              <option value="<%=lang.locale%>" <%="selected" if lang.id == tr8n_current_language.id %>><%=lang.english_name%></option>
            <% end %>
          </select>
          <p class="muted">
            <%=tra("If you would like to create a topic that appears in all languages, leave the field blank.") %>
          </p>
        </td>
      </tr>
      <tr>
        <td style="width:80px; text-align:right; padding-right:10px; font-weight:bold; vertical-align: top">
          <%=tra("Topic:")%>
        </td>
        <td>
          <%=text_field_tag(:topic, "", :style=>"width:800px;")%>
        </td>
      </tr>
      <tr>
        <td style="width:80px; text-align:right; padding-right:10px; padding-top:5px; font-weight:bold; vertical-align: top">
          <%=tra("Message:") %>
        </td>
        <td style="padding-top:5px;">
          <%=text_area_tag(:message, "", :style=>"width:800px; height:80px;")%>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="tr8n_text_align_left" style="color:grey; font-size:12px; padding-top:10px; padding-bottom:10px;">
           <%=tra("If your computer is not configured with your settings keyboard, click on CTR+SHIFT+K to enable keyboards in foreign languages.")%>
        </td>
      </tr>
    </table>
    
    <div style="padding-top:20px; padding-bottom:10px;text-align:center">
        <button type="button" onClick="$('#locales').val($('#forum_locales').val()); $('#forum_topic_form').submit();" class="btn btn-primary">
          <%=tra("Start a New Discussion")%>
        </button>
        <% if include_cancel_button %>
          <%=tra("or") %>
          <%=link_to(tra("Cancel"), :action => :index)%>
        <% end %>  
    </div>
  <% end %>
</div>

<%=javascript_include_tag("tr8n/vendor/jquery/jquery.caretposition.js") %>
<%=javascript_include_tag("tr8n/vendor/jquery/jquery.sew.js") %>

<script>
  (function() {
    $("#forum_locales").chosen({});
  })();

  var mentions = [];
  var values = <%= selected_application.translators.collect{|t| {'val' => t.name, 'meta' => t.name, 'id' => t.id}}.to_json.html_safe  %>;
  $('#message').sew({
    values: values
  }).on('mention-selected', function(e, value) {
    mentions.push(value.id);
    $("#mentioned_translators").val(mentions.join());
  });
</script>