<%= tr8n_with_options_tag(:default_locale => Tr8n::Config.default_admin_locale, :admin => true) do %>

  <%= render :partial => "/tr8n/app/common/header" %>
  <div class="section-header">
    <%=tra("{language} Language Forum", :language => tr8n_current_language.native_name) %>
  </div>

  <div class="tr8n tr8n_container">
	
    <% if @topic %>
      <ul class="breadcrumb">
        <li>
          <% if @topic.language %>
            <%=link_to(tra("{language} Language Forum", nil, :language => @topic.language.native_name), :action => :index)%>
          <% else %>
            <%=link_to(tra("General Forum"), :action => :index)%>
          <% end %>
          <span class="divider">/</span>
        </li>

        <li class="active"><%=link_to(@topic.topic, :topic_id => @topic.id)%></li>
      </ul>

      <div class="section_title tr8n_text_align_left">
        <div class="tr8n_float_right" style="font-size:12px; color: #ccc;">
          <%=link_to(tra("Reply"), :topic_id => @topic.id, :page => params[:page], :anchor => :reply_message) %>
          &nbsp; | &nbsp;
          <%=link_to(tra("Start a new discussion topic"), :mode => :create) %>
        </div>

        <div class="tr8n_text_align_left" style="color:grey;font-size:12px;font-style:italic;padding-top:3px;padding-bottom:3px;">
           <%= tra("Started by {user} on {date}", "",
                {:user => [@topic.translator.user, tr8n_user_tag(@topic.translator, :linked => true)], :date => @topic.created_at.trl}) %>
        </div>
      </div>
      <%= render :partial => "messages" %>
      <%= render :partial => "new_message" %>
    <% else %>
      <%= render :partial => "new_topic", :locals => {:include_cancel_button => true} %>
    <% end %>

  </div>
	<%= render :partial => "/tr8n/app/common/footer" %>
	
<% end %>